.custom-modal {
  background-color: #0b1a1e;
  border-radius: 20px;
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  text-align: center;
}

.custom-modal h1 {
  color: #13ff3a;
  font-weight: 700;
  font-size: 2rem;
}

.custom-modal h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.custom-modal p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.custom-btn-outline {
  border: 2px solid #13ff3a;
  color: #13ff3a;
  background-color: transparent;
}

.custom-btn-outline:hover {
  background-color: #13ff3a;
  color: #000;
}

.custom-btn-fill {
  background-color: #13ff3a;
  color: #000;
}

.custom-btn-fill:hover {
  background-color: #00d83a;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  opacity: 0;
  transform: scale(0.95);
  animation: fadeInScale 0.3s ease-out forwards;
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 576px) {
  .btn-group {
    flex-direction: column;
    gap: 1rem;
  }
}
