<body>
  <main>
    <section class="pb-5">
      <div class="m-auto contenedor-titulo pt-5">
        <h1 class="pt-4">Planes de Entrenamiento</h1>
      </div>

      <article
        *ngIf="planEntrenamiento.length && usuario?.esPremium"
        class="d-flex mt-5 justify-content-space-between contenedor-principal-planes"
      >
        <div id="contenedor-planes" class="w-100">
          <div
            *ngFor="let plan of planEntrenamiento; let i = index"
            routerLink="/detalle-plan"
            class="w-100 d-flex contenedor-plan text-white"
          >
            <div
              class="plan-card d-flex align-items-center justify-content-between mb-3"
            >
              <div
                class="d-flex align-items-center gap-5 contendor-imagen-plan"
              >
                <img
                  id="imagen-plan"
                  [src]="'imagenes/cuerpo-completo.png'"
                  alt="Entrenamiento de cuerpo completo"
                  class="img-fluid"
                />
                <div>
                  <h3 id="nombre-plan">
                    {{ plan.tipoEntrenamiento }}
                  </h3>
                  <h4 id="realizado" style="color: #13ff3a">
                    Continuar entrenamiento
                  </h4>
                </div>
              </div>
              <div
                class="d-flex align-items-center justify-content-between gap-5 contenedor-info-plan"
              >
                <div
                  class="d-flex flex-column align-items-center justify-content-center gap-3"
                >
                  <div class="progreso-plan">
                    <span id="progreso-plan"
                      >Progreso del plan ({{ plan.cantidadRutinasHechas }}/{{
                        plan.cantidadRutinas
                      }})</span
                    >
                    <div class="barra-progreso">
                      <div
                        class="relleno"
                        [ngStyle]="{ width: calcularPorcentajeProgreso(plan) }"
                      ></div>
                    </div>
                  </div>
                </div>
                <div
                  class="d-flex flex-column align-items-center justify-content-center gap-5"
                >
                  <i
                    class="fa-solid fa-trash"
                    (click)="desactivarPlan(plan.id)"
                  ></i>
                  <span style="color: #13ff3a"
                    >{{ i + 1 }}/{{ planEntrenamiento.length }}</span
                  >
                </div>
              </div>
            </div>
          </div>

          <a
            routerLink="/formulario-crear-plan"
            class="w-100 d-flex justify-content-center contenedor-plan"
          >
            <div
              class="plan-card d-flex align-items-center justify-content-between mb-3"
            >
              <p style="color: #ffffff; font-style: italic">
                Crear <span style="color: #13ff3a">nuevo plan</span> para
                empezar a entrenar
              </p>
              <div class="icon">+</div>
            </div>
          </a>
        </div>
        <div
          class="d-flex flex-column gap-4"
          id="contenedor-informacion-planes"
        >
          <div
            id="ultimo-entrenamiento"
            class="contenedor-ultimo-entrenamiento text-center"
          >
            <h4>Último entrenamiento realizado:</h4>
            <h5
              class="text-center"
              style="color: #13ff3a; font-style: italic; font-weight: 300"
            >
              Cuerpo completo
            </h5>
            <span>2025-01-01</span><br />
            <span>500 cal.</span><br />
            <span>60 min.</span>
          </div>
          <div
            id="racha-semanal"
            class="d-flex justify-content-between align-items-center"
          >
            <div
              class="d-flex flex-column justify-content-center contenedor-racha"
            >
              <h4>Racha actual:</h4>
              <span>1 semana</span>
            </div>
            <div>
              <i class="fa-solid fa-fire icono-fuego"></i>
            </div>
          </div>
        </div>
      </article>
      <article
        *ngIf="!planEntrenamiento.length && !usuario?.esPremium"
        class="d-flex mt-5 justify-content-space-between contenedor-principal-planes"
      >
        <div id="contenedor-planes" class="w-100">
          <a
            routerLink="/formulario-crear-plan"
            class="w-100 d-flex justify-content-center contenedor-plan"
          >
            <div
              class="plan-card d-flex align-items-center justify-content-between mb-3"
            >
              <p style="color: #ffffff; font-style: italic">
                Creá <span style="color: #13ff3a">tu plan</span> para empezar a
                entrenar
              </p>
              <div class="icon">+</div>
            </div>
          </a>

          <a
            routerLink="/premium"
            class="w-100 d-flex justify-content-center contenedor-plan"
          >
            <div
              class="plan-card d-flex align-items-center justify-content-between mb-3"
            >
              <p style="color: #ffffff; font-style: italic">
                Únete a <span style="color: #13ff3a">premium</span> para crear
                múltiples planes
              </p>
              <div class="icon">+</div>
            </div>
          </a>
        </div>
      </article>
      <article
        *ngIf="planEntrenamiento.length && !usuario?.esPremium"
        class="d-flex mt-5 justify-content-space-between contenedor-principal-planes"
      >
        <div id="contenedor-planes" class="w-100">
          <div
            *ngFor="let plan of planEntrenamiento; let i = index"
            class="w-100 d-flex contenedor-plan text-white"
          >
            <div
              class="plan-card d-flex align-items-center justify-content-between mb-3"
            >
              <div
                routerLink="/inicio-rutina/75"
                class="d-flex align-items-center gap-5 contendor-imagen-plan"
              >
                <img
                  id="imagen-plan"
                  [src]="'imagenes/cuerpo-completo.png'"
                  alt="Entrenamiento de cuerpo completo"
                  class="img-fluid"
                />
                <div>
                  <h3 id="nombre-plan">
                    {{ plan.tipoEntrenamiento }}
                  </h3>
                  <h4 id="realizado" style="color: #13ff3a">
                    Continuar entrenamiento
                  </h4>
                </div>
              </div>
              <div
                class="d-flex align-items-center justify-content-between gap-5 contenedor-info-plan"
              >
                <div
                  class="d-flex flex-column align-items-center justify-content-center gap-3"
                >
                  <div class="progreso-plan">
                    <span id="progreso-plan"
                      >Progreso del plan ({{ plan.cantidadRutinasHechas }}/{{
                        plan.cantidadRutinas
                      }})</span
                    >
                    <div class="barra-progreso">
                      <div
                        class="relleno"
                        [ngStyle]="{ width: calcularPorcentajeProgreso(plan) }"
                      ></div>
                    </div>
                  </div>
                </div>
                <div
                  class="d-flex flex-column align-items-center justify-content-center gap-5"
                >
                  <i
                    class="fa-solid fa-trash"
                    (click)="desactivarPlan(plan.id)"
                  ></i>
                  <span style="color: #13ff3a"
                    >{{ i + 1 }}/{{ planEntrenamiento.length }}</span
                  >
                </div>
              </div>
            </div>
          </div>

          <a
            routerLink="/premium"
            class="w-100 d-flex justify-content-center contenedor-plan"
          >
            <div
              class="plan-card d-flex align-items-center justify-content-between mb-3"
            >
              <p style="color: #ffffff; font-style: italic">
                Únete a <span style="color: #13ff3a">premium</span> para crear
                múltiples planes
              </p>
              <div class="icon">+</div>
            </div>
          </a>
        </div>
        <div
          class="d-flex flex-column gap-4"
          id="contenedor-informacion-planes"
        >
          <div
            id="ultimo-entrenamiento"
            class="contenedor-ultimo-entrenamiento text-center"
          >
            <h4>Último entrenamiento realizado:</h4>
            <h5
              class="text-center"
              style="color: #13ff3a; font-style: italic; font-weight: 300"
            >
              Cuerpo completo
            </h5>
            <span>2025-01-01</span><br />
            <span>500 cal.</span><br />
            <span>60 min.</span>
          </div>
          <div
            id="racha-semanal"
            class="d-flex justify-content-between align-items-center"
          >
            <div
              class="d-flex flex-column justify-content-center contenedor-racha"
            >
              <h4>Racha actual:</h4>
              <span>1 semana</span>
            </div>
            <div>
              <i class="fa-solid fa-fire icono-fuego"></i>
            </div>
          </div>
        </div>
      </article>

      <article
        *ngIf="!planEntrenamiento.length && usuario?.esPremium"
        class="d-flex mt-5 justify-content-space-between contenedor-principal-planes"
      >
        <div id="contenedor-planes" class="w-100">
          <a
            routerLink="/formulario-crear-plan"
            class="w-100 d-flex justify-content-center contenedor-plan"
          >
            <div
              class="plan-card d-flex align-items-center justify-content-between mb-3"
            >
              <p style="color: #ffffff; font-style: italic">
                Creá <span style="color: #13ff3a">tu plan</span> para empezar a
                entrenar
              </p>
              <div class="icon">+</div>
            </div>
          </a>
        </div>
      </article>
    </section>
  </main>
</body>