* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #00060c;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  margin: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
    overflow-x: hidden;

}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin: unset;
}

.contenedor-plan {
  text-decoration: none;
  cursor: pointer;
}
.plan-texto {
  padding-left: 10%; 
}

.plan-card {
  background-color: #0B1A1E ;
  border-radius: 10px;
  width: 100%;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 2rem 2.5rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.plan-card:hover {
  transform: scale(1.02);
}

.plan-card p {
  font-size: 1.5rem;
}

.progreso-plan {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.contenedor-tipo-entrenamiento {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon {
  font-size: 5rem;
  color: #13ff3a;
}

.contenedor-titulo {
  width: 90%;
}

#imagen-plan {
  width: 100px;
  border-radius: 50%;
}

#ultimo-entrenamiento {
  background-color: #0B1A1E ;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s;
}

#racha-semanal {
  background-color: #0B1A1E ;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s;
}

.contenedor-principal-planes {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 2rem;
  margin: auto;
}

.contenedor-tacho-borrar {
  position: relative;
  padding-top: 60px;
}

.tacho-borrar {
  position: absolute;
  top: 0;
}

#nombre-plan {
  font-size: 1.5rem !important;
}

.icono-fuego {
  font-size: 3rem;
  color: #13ff3a;
}

.contenedor-progreso {
  max-width: 300px;
}

.custom-icon-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; 
}

.custom-icon {
  height: 100%;
  width: 30em;
  font-size: 5rem;
  color: white;
 
  background: linear-gradient(to bottom right, #13ff3a 100%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-imagen-circulo {
  position: relative;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible; 
  padding-bottom: 40px;
}

.circulo-fondo {
  position: relative;
  width: 350px;
  height: 300px;
  background-color: #0B1A1E ;
  border-radius: 50%;
  z-index: 1;
}

.imagen-con-circulo {
  position: absolute;
  width: 750px;
  max-width: none; 
  z-index: 2;
  object-fit: contain;
  
}

.circulo {
  width: 10px;
  height: 10px;
  border: 2px solid #13ff3a;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.circulo.activo {
  background-color: #13ff3a;
}

.barra-progreso {
  background-color: #333;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

.barra-progreso .relleno {
  background-color: #13ff3a;
  height: 100%;
  width: 0%;
  transition: width 0.3s ease;
}

.contenedor-info-plan-imagen {
  gap: 5rem;
}
.realizado{
  background-color: #0B1A1E;
  border-radius: 20px;
  border: 1px solid ;
  padding:10px;
}

.realizado:hover{
  background-color: #00060c;
  color:White;
}
@media screen and (max-width: 1195px) {
  .plan-card p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1080px) {
  .contenedor-progresos {
    flex-direction: unset !important;
  }
  
  .contenedor-info-plan-imagen {
    flex-direction: column;
    gap: 0.5rem;
  }

  #nombre-plan, #realizado {
    font-size: 0.8rem;
  }
.card-generico{
    padding-left: 7em;
  }
  #progreso-semanal,
  #progreso-plan {
    font-size: 0.8rem;
  }

  .contenedor-principal-planes{
    flex-direction: column;
    align-items: center;
  }

  .circulo-fondo {
  width: 250px;
  height: 250px;
}

.imagen-con-circulo {
  width: 550px; 

}
}

@media screen and (max-width: 768px) {
  .contenedor-titulo {
    padding-top: 10px !important;
  }

  .contenedor-principal-planes {
    margin-top: 2rem !important;
    
  }

  .plan-card p {
    font-size: 1.2rem;
  }

  .icon {
    font-size: 4rem;
  }

  .contenedor-ultimo-entrenamiento h4 {
    font-size: 1rem;
  }

  .contenedor-ultimo-entrenamiento h5 {
    font-size: 0.8rem;
  }

  .contenedor-ultimo-entrenamiento span {
    font-size: 0.6rem;
  }

  .contenedor-racha h4 {
    font-size: 1rem;
  }

  .contenedor-racha span {
    font-size: 0.8rem;
  }
  
  .icono-fuego {
    font-size: 2rem;
  }

  #progreso-semanal,
  #progreso-plan {
    font-size: 0.6rem;
  }
    .card-generico {
    width: 100%;
    padding-left:6rem;
  }

  #nombre-plan, .realizado {
    font-size: 1rem !important;
  }

  #progreso-plan {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 690px) {
  .contenedor-principal-planes {
    flex-direction: column;
  }
   .plan-card p {
    font-size: 0.8rem;
  }

 .contenedor-ultimo-entrenamiento h4 {
    font-size: 1.2rem;
  }

  .contenedor-ultimo-entrenamiento h5 {
    font-size: 1rem;
  }

  .contenedor-ultimo-entrenamiento span {
    font-size: 0.8rem;
  }

  .contenedor-racha h4 {
    font-size: 1.2rem;
  }

  .contenedor-racha span {
    font-size: 1rem;
  }
  
  .icono-fuego {
    font-size: 2rem;
  }

  #realizado, #nombre-plan {
    font-size: 1rem;
  }

  #progreso-semanal,
  #progreso-plan {
    font-size: 0.7rem;
  }

  .custom-icon-absolute {
  width: 5.5rem; 
}

}

@media screen and (max-width: 480px) {
  .contenedor-titulo {
    padding-top: 10px !important;
  }

  .contenedor-principal-planes {
    margin-top: 2rem !important;
  }

  .icon {
    font-size: 2rem;
  }

  .plan-card {
    width: 100%;
    padding: 2rem 0.5rem;
  }

  .contenedor-ultimo-entrenamiento h4 {
    font-size: 1.2rem;
  }

  .contenedor-ultimo-entrenamiento h5 {
    font-size: 1rem;
  }

  .contenedor-ultimo-entrenamiento span {
    font-size: 0.8rem;
  }

  .contenedor-racha h4 {
    font-size: 1.2rem;
  }

  .contenedor-racha span {
    font-size: 0.8rem;
  }

  .icono-fuego {
    font-size: 2rem;
  }

  .contenedor-principal-planes {
    flex-direction: column;
    gap: 1rem;
  }

  #nombre-plan, #realizado {
    font-size: 0.8rem;
  }

  #progreso-semanal,
  #progreso-plan {
    font-size: 0.6rem;
  }

  .contendor-imagen-plan,
  .contenedor-info-plan {
    gap: 0.5rem !important;
  }

  #imagen-plan {
    width: 70px;
  }

  .contenedor-info-plan-imagen {
    flex-direction: column;
    gap: 0.5rem;
  }

  .contenedor-progresos {
    flex-direction: unset !important;
  }
 
  #nombre-plan, .realizado {
    font-size: 0.8rem !important;
  }

  #progreso-plan {
    font-size: 0.6rem !important;
  }

  .contenedor-info-plan {
    gap: 20px !important;
  }

  .card-generico {
    padding-left: 5rem !important
  }

  .plan-card {
    padding: 2rem 1.5rem;
  }

  .contenedor-tacho-borrar i, span{
    font-size: 12px;
  }

#imagen-plan {
  display: none;
}
  
.circulo-fondo {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #00060c ;
  border-radius: 50%;
  z-index: 1;
}

.imagen-con-circulo {
  position: absolute;
  width: 450px;
  max-width: none; 
  z-index: 2;
  object-fit: contain;
}
}