* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #00060c;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  margin: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
    overflow-x: hidden;

}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin: unset;
}

.contenedor-plan {
  text-decoration: none;
  cursor: pointer;
}
.plan-texto {
  padding-left: 10%; 
}

.plan-card {
  background-color: #0B1A1E ;
  border-radius: 10px;
  width: 100%;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 2rem 2.5rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.plan-card:hover {
  transform: scale(1.02);
}

.plan-card p {
  font-size: 1.5rem;
}

.progreso-plan {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.contenedor-tipo-entrenamiento {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon {
  font-size: 5rem;
  color: #13ff3a;
}

.contenedor-titulo {
  width: 90%;
}

#imagen-plan {
  width: 100px;
  border-radius: 50%;
}

#ultimo-entrenamiento {
  background-color: #0B1A1E ;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s;
}

#racha-semanal {
  background-color: #0B1A1E ;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s;
}

.contenedor-principal-planes {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 2rem;
  margin: auto;
}

.contenedor-tacho-borrar {
  position: relative;
  padding-top: 60px;
}

.tacho-borrar {
  position: absolute;
  top: 0;
}

#nombre-plan {
  font-size: 1.5rem !important;
}

.icono-fuego {
  font-size: 3rem;
  color: #13ff3a;
}

.contenedor-progreso {
  max-width: 300px;
}

.cards-horizontales{
  display: none;
}
.contenedor-imagen-circulo {
  position: relative;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible; 
  padding-bottom: 40px;
  top:125px;
}
.contenedor-imagen-circulo-con-premium{
    position: relative;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible; 
  padding-bottom: 40px;
  top:65px;
}

.circulo-fondo {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #0B1A1E;
  z-index: 1;
}

.circulo-fondo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  background: conic-gradient(#13ff3a 0deg, transparent 90deg, #13ff3a 180deg, transparent 270deg, #13ff3a 360deg);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  padding: 1px;
  animation: rotarGradiente 4s linear infinite;
  z-index: 2;
}

.imagen-con-circulo {
  position: absolute;
  width: 400px;
  max-width: none;
  z-index: 3;
  object-fit: contain;
}

@keyframes rotarGradiente {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.imagen-con-circulo {
  position: absolute;
  width: 750px;
  max-width: none; 
  z-index: 2;
  object-fit: contain;
}

.circulo {
  width: 10px;
  height: 10px;
  border: 2px solid #13ff3a;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.circulo.activo {
  background-color: #13ff3a;
}

.barra-progreso {
  background-color: #333;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}
h4{
  text-align: center;
  font-size: 1rem;
}

.barra-progreso .relleno {
  background-color: #13ff3a;
  height: 100%;
  width: 0%;
  transition: width 0.3s ease;
}

.contenedor-info-plan-imagen {
  gap: 5rem;
}
.imagen-y-texto{
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.texto-premium {
  padding-left: 1rem; 
  transition: padding-left 0.4s ease;
}

.plan-card:hover .texto-premium {
  padding-left: 9rem; 
}
.brillo-premium {
  color: #13ff3a;
  font-weight: bold;
  transition: text-shadow 0.4s ease, transform 0.4s ease;
}

.plan-card:hover .brillo-premium {
  text-shadow: 0 0 8px #13ff3a, 0 0 16px #13ff3a;
  transform: scale(1.05);
  animation: brilloResplandor 1s infinite alternate;
}

@keyframes brilloResplandor {
  0% {
    text-shadow: 0 0 4px #13ff3a, 0 0 8px #13ff3a;
  }
  100% {
    text-shadow: 0 0 10px #13ff3a, 0 0 20px #13ff3a;
  }
}


.custom-icon-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  pointer-events: none;
  overflow: hidden;
}

.custom-icon {
  height: 100%;
  width: 1rem;
  font-size: 0rem;
  color:#00060c;
  background: linear-gradient(to bottom right, #13ff3a 100%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  transform-origin: left; 
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plan-card:hover .custom-icon {
  width: 8rem;
  font-size: min(10vw, 4rem);
}


.custom-icon::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: #13ff3a;
  z-index: 0;
  opacity: 0.2;
  transition: height 0.4s ease;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  clip-path: inherit;
}

.plan-card:hover .custom-icon::before {
  height: 100%;
}

.plan-card:hover .custom-icon {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.card {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 1.5rem;
  padding-right:0;
  background-color: #0B1A1E;
  border-radius: 10px;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: row; 
  gap: 1rem;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(19, 255, 58, 0.1);
  z-index: 3;
  margin-bottom: 15px;
}
.contenido-card {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: scale(1.02);
}
.card > * {
  position: relative;
  z-index: 1;
}
.card::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #13ff3a33, #13ff3a00);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
  pointer-events: none;
}

.card:hover::after {
  animation: fuegoSubiendo 0.8s forwards ease-out;
  opacity: 1;
}

@keyframes fuegoSubiendo {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  50% {
    bottom: -20%;
    opacity: 0.5;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.text {
  flex-grow: 1;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
}

.text span {
  font-size: 1.3rem;
  font-weight: bold;
}

.subtitle {
  font-size: 0.85rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 0.5rem;
}

.btn {
  border-radius: 8px;
  background-color: transparent;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #13ff3a20;
}

.svg-icon {
  width: 60px;
  height: 60px;
  stroke: #13ff3a;
  color:white;
 
}

.fa-xl{
  font-size: 35px;
}

.footer-card {
  position: relative; 
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1rem;
}

.icons {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color:white;
}


.progreso-plan {
  flex: 1;
}

.progreso-plan span {
  font-size: 0.85rem;
  display: block;
  margin-bottom: 0.3rem;
  color: rgba(255, 255, 255, 0.8);
}

.barra-progreso {
  background-color: #111;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

.barra-progreso .relleno {
  background-color: #13ff3a;
  height: 100%;
  transition: width 0.3s ease;
}
/* ESTO ES LO NUEVO*/


@media screen and (max-width: 1195px) {
  .plan-card p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1080px) {
  .contenedor-progresos {
    flex-direction: unset !important;
  }
  .cards-verticales{
    display: none;
  }
  .cards-horizontales{
  display: block;
}
  .contenedor-info-plan-imagen {
    flex-direction: column;
    gap: 0.5rem;
  }

  #nombre-plan, #realizado {
    font-size: 0.8rem;
  }
.card-generico{
    padding-left: 7em;
  }
  #progreso-semanal,
  #progreso-plan {
    font-size: 0.8rem;
  }

  .contenedor-principal-planes{
    flex-direction: column;
    align-items: center;
  }

  .circulo-fondo {
  width: 250px;
  height: 250px;
}

.imagen-con-circulo {
  width: 550px; 

}
}

@media screen and (max-width: 768px) {
  .contenedor-titulo {
    padding-top: 10px !important;
  }

   .plan-card:hover .custom-icon {
    width: 4rem;
    font-size: 3rem;
  }
.btn {
 
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  transition: background-color 0.3s ease;
}
  .contenedor-principal-planes {
    margin-top: 2rem !important;
    
  }

  .plan-card p {
    font-size: 1.2rem;
  }

  

  .contenedor-ultimo-entrenamiento h4 {
    font-size: 1rem;
  }

  .contenedor-ultimo-entrenamiento h5 {
    font-size: 0.8rem;
  }

  .contenedor-ultimo-entrenamiento span {
    font-size: 0.6rem;
  }

  .contenedor-racha h4 {
    font-size: 1rem;
  }

  .contenedor-racha span {
    font-size: 0.8rem;
  }
  
  .icono-fuego {
    font-size: 2rem;
  }

  #progreso-semanal,
  #progreso-plan {
    font-size: 0.6rem;
  }
    .card-generico {
    width: 100%;
    padding-left:6rem;
  }

  #nombre-plan, .realizado {
    font-size: 1rem !important;
  }

  #progreso-plan {
    font-size: 0.8rem !important;
  }


}

@media screen and (max-width: 690px) {
  .contenedor-principal-planes {
    flex-direction: column;
  }
  
   .plan-card p {
    font-size: 0.8rem;
  }
.fa-xl{
  font-size: 25px;
}
.icons{
    margin-right: 10px;

}
 .contenedor-ultimo-entrenamiento h4 {
    font-size: 1.2rem;
  }

  .contenedor-ultimo-entrenamiento h5 {
    font-size: 1rem;
  }

  .contenedor-ultimo-entrenamiento span {
    font-size: 0.8rem;
  }

  .contenedor-racha h4 {
    font-size: 1.2rem;
  }

  .contenedor-racha span {
    font-size: 1rem;
  }
  
  .icono-fuego {
    font-size: 2rem;
  }

  #realizado, #nombre-plan {
    font-size: 1rem;
  }

  #progreso-semanal,
  #progreso-plan {
    font-size: 0.7rem;
  }

  

}

@media screen and (max-width: 480px) {
  .contenedor-titulo {
    padding-top: 10px !important;
  }

  .contenedor-principal-planes {
    margin-top: 2rem !important;
  }

  
  .plan-card {
    width: 100%;
    padding: 2rem 0.5rem;
  }

  .contenedor-ultimo-entrenamiento h4 {
    font-size: 1.2rem;
  }

  .contenedor-ultimo-entrenamiento h5 {
    font-size: 1rem;
  }

  .contenedor-ultimo-entrenamiento span {
    font-size: 0.8rem;
  }

  .contenedor-racha h4 {
    font-size: 1.2rem;
  }

  .contenedor-racha span {
    font-size: 0.8rem;
  }

  .icono-fuego {
    font-size: 2rem;
  }

  .contenedor-principal-planes {
    flex-direction: column;
    gap: 1rem;
  }

  #nombre-plan, #realizado {
    font-size: 0.8rem;
  }

  #progreso-semanal,
  #progreso-plan {
    font-size: 0.6rem;
  }

  .contendor-imagen-plan,
  .contenedor-info-plan {
    gap: 0.5rem !important;
  }

  #imagen-plan {
    width: 70px;
  }

  .contenedor-info-plan-imagen {
    flex-direction: column;
    gap: 0.5rem;
  }

  .contenedor-progresos {
    flex-direction: unset !important;
  }
 
  #nombre-plan, .realizado {
    font-size: 0.8rem !important;
  }

  #progreso-plan {
    font-size: 0.6rem !important;
  }

  .contenedor-info-plan {
    gap: 20px !important;
  }

  .card-generico {
    padding-left: 5rem !important
  }

  .plan-card {
    padding: 2rem 1.5rem;
  }

  .contenedor-tacho-borrar i, span{
    font-size: 12px;
  }
  .text span{
    font-size: 0.9rem;
  }
  
.circulo-fondo {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #00060c ;
  border-radius: 50%;
  z-index: 1;
}

.imagen-con-circulo {
  position: absolute;
  width: 450px;
  max-width: none; 
  z-index: 2;
  object-fit: contain;
}
}