<main>
  <app-loader *ngIf="cargando"></app-loader>
  <section *ngIf="!cargando">
    <div class="text-center mb-3">
      <h1 class="admin-title">Bienvenido Administrador</h1>
    </div>
    <div class="text-center mb-3">
      <app-boton-trainin
        routerLink="/crear"
        clase="btn btn-trainin"
        tipo="button"
      >
        Crear ejercicio</app-boton-trainin
      >
    </div>

    <div class="text-center mb-3 w-100">
      <table
        class="table table-striped listado-ejercicios"
        *ngIf="ejercicios.length"
      >
        <thead>
          <tr>
            <th class="sortable" (click)="toggleSort()">
              ID
              <i
                class="bi bi-arrow-down-up"
                [ngClass]="{
                  'bi-sort-numeric-down': sortDirection === 'asc',
                  'bi-sort-numeric-down-alt': sortDirection === 'desc'
                }"
              ></i>
            </th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of ejercicios">
            <td>{{ e.id }}</td>
            <td>{{ e.nombre }}</td>
            <td>
              <div class="botones">
                <button (click)="editar(e)" class="btn" aria-label="Editar">
                  <i class="bi bi-pencil-fill"></i>
                </button>

                <button
                  (click)="abrirModal(e)"
                  class="btn"
                  aria-label="Eliminar"
                >
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <app-modal-confirmacion-borrar-plan
    [visible]="mostrarModalDeConfirmacion"
    [mensaje]="mensajeModal"
    (onConfirm)="eliminar(ejercicioSeleccionado)"
    (onCancel)="cancelarEliminarEjercicio()"
  ></app-modal-confirmacion-borrar-plan>
</main>
