<div class="p-5 contenedor-principal-premium">
  <div class="premium-container">
    <h2 class="title">Súmate a <span class="green">TRAININ PREMIUM</span></h2>
    <p class="price">$8.499,99 ARS/<span class="green">Mes</span></p>

    <div class="premium-features">
      <div class="feature">
        <div class="icon-box">+</div>
        <p>Creá <span class="green-italic">múltiples planes</span> de entrenamiento</p>
      </div>

      <div class="feature">
        <div class="image-frame">
          <img src="imagenes/Mediapipe.png" alt="Ejercicio" />
        </div>
        <p>Te ayudamos a corregir tu técnica de forma <span class="green-italic">ilimitada</span></p>
      </div>

      <div class="feature">
        <img class="trofeos-img"src="imagenes/Trofeos-premium.jpg" alt="Insignias" />
        <p>Desbloqueá insignias <span class="green-italic">exclusivas</span> y mantené tu racha</p>
      </div>
    </div>

    <button (click)="pagarConMercadoPago()" class="subscribe-btn">Suscribite</button>
  </div>
</div>