
<div class="card" *ngIf="tieneRetoDisponible">
<div class="face back">
  <div class="estadisticas-back-reto">
    <p>{{nombreReto}}</p>
   
  </div>
</div>
<div class="face front image-placeholder rounded mb-2">
  <div class="contenido-frontal">
    <strong class="icono-frontal"><i class="fa-solid fa-dumbbell"></i></strong>
    <strong class="titulo-texto">Ejercicio del día</strong>
  </div>
</div>
</div>
  
<div class="card" >
<div class="face back">
  <div class="estadisticas-back-calorias">
    <div class="dato">
      <div class="valor">47</div>
      <div class="etiqueta">Días</div>
    </div>
  </div>
</div>
<div class="face front image-placeholder rounded mb-2">
  <div class="contenido-frontal">
    <strong class="icono-frontal"><i class="fa-solid fa-fire"></i></strong>
    <strong class="titulo-texto">Racha actual</strong>
  </div>
</div>
</div>

   <div class="card">
<div class="face back">
  <div class="estadisticas-back">
    <div class="plan-label">Cuerpo completo</div>

    <div class="dato dato-superior">
      <div class="valor">450</div>
      <div class="etiqueta">Calorías</div>
    </div>

    <div class="divisor-horizontal"></div>

    <div class="dato dato-inferior">
      <div class="valor">35 min</div>
      <div class="etiqueta">Duración</div>
    </div>
  </div>
</div>
<div class="face front image-placeholder rounded mb-2">
  <div class="contenido-frontal">
    <strong class="icono-frontal"><i class="fa-solid fa-stopwatch-20"></i></strong>
    <strong class="titulo-texto">Último Entrenamiento</strong>
  </div>
</div>
</div>

  <!--<div class="card">
  <div class="content">
    <div class="back">
      <div class="back-content">
        
        <strong>Último Entrenamiento</strong>
        <strong><i class="fa-solid fa-stopwatch-20"></i></strong>
      </div>
    </div>
    <div class="front">
      
      <div class="img">
        <div class="circle">
        </div>
        <div class="circle" id="right">
        </div>
        <div class="circle" id="bottom">
        </div>
      </div>

      <div class="front-content">
        <div class="description">
          <div class="title">
            <p class="title">
              <strong>Cuerpo Completo</strong>
            </p>
          </div>
          <p class="card-footer">
            37:14 min &nbsp; | &nbsp; 110 cal.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
 <div class="card">
  <div class="content">
    <div class="back">
      <div class="back-content">
        
        <strong>Racha Actual</strong>
        <strong><i class="fa-solid fa-fire"></i></strong>
      </div>
    </div>
    <div class="front">
      
      <div class="img">
        <div class="circle">
        </div>
        <div class="circle" id="right">
        </div>
        <div class="circle" id="bottom">
        </div>
      </div>

      <div class="front-content">
        <div class="description">
          <div class="title">
            <p class="title">
              <strong>Racha</strong>
            </p>
          </div>
          <p class="card-footer">
           20 días
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="content">
    <div class="back">
      <div class="back-content">
        
        <strong>Ejercicio del Día</strong>
        <strong><i class="fa-solid fa-dumbbell"></i></strong>
      </div>
    </div>
    <div class="front">
      
      <div class="img">
        <div class="circle">
        </div>
        <div class="circle" id="right">
        </div>
        <div class="circle" id="bottom">
        </div>
      </div>

      <div class="front-content">
        <div class="description">
          <div class="title">
            <p class="title">
              <strong>Cuerpo Completo</strong>
            </p>
          </div>
          <p class="card-footer">
            37:14 min &nbsp; | &nbsp; 110 cal.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>-->
 

