
.cards-informativas.horizontal {
  display: flex;
  justify-content: center;
}

.cards-informativas.conPlanesPremium {
  width: 100%;
}

.cards-informativas.horizontal.conPlanes .card {
  width: 29.3%;
}

.cards-informativas.horizontal .card {
  width: 33.3%;
}


.cards-informativas.horizontal .back::before {
  content: none;
}

.cards-informativas{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.card {
  overflow: visible;
  width: 250px;
  height: 254px;
  border:0px;
  background-color: #0B1A1E;
  text-align: center;
  z-index: 800;
}
.card i{
  font-size: 2.5rem;
  color:#13ff3a
}
.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #0B1A1E;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #13ff3a, #13ff3a, #13ff3a, #13ff3a, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #0B1A1E;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: 100%;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 20px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 18px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
.cards-informativas {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards-informativas.horizontal {
  flex-direction: row;
  overflow-x: auto;
  padding-bottom: 10px;
  gap: 1rem;
}

.cards-informativas.horizontal::-webkit-scrollbar {
  height: 6px;
}
.cards-informativas.horizontal::-webkit-scrollbar-thumb {
  background: #13ff3a;
  border-radius: 3px;
}
@media screen and (max-width: 1080px) {
.cards-informativas.conPlanesPremium .back::before {
  content: none;
}

.cards-informativas.conPlanesPremium{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards-informativas.conPlanesPremium .card{
  width: 80%;
  height: 150px;
}


}


@media screen and (max-width: 968px) {
.description {
  width: 85%;
  height: 85%;
}
}
@media screen and (max-width: 768px) {
.back-content{
  font-size: 0.7rem;
}
.cards-informativas.horizontal{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.cards-informativas.horizontal .card{
  width: 80%;
  height: 150px;
}

.cards-informativas.horizontal.conPlanes{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
    width: 100%;

}
.cards-informativas.horizontal.conPlanes .card{
  width: 80%;
  height: 150px;
}

}
.cards- .card{
  width: 80%;
  height: 150px;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 12px;
}
.title {
  font-size: 14px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.description {
  width: 100%;
  height: 100%;
}

