<body>
  <main>
    <section>
      <article class="contenedor-principal">
        <div class="text-center py-5">
          <h1 style="color: #13ff3a">Términos y Condiciones</h1>
        </div>

        <div>   
          <p>
            Bienvenido a TRAININ. Al utilizar nuestra web app para realizar
            actividad física, ya sea desde la comodidad de tu hogar o el lugar
            que prefieras, estás tomando una decisión importante para mejorar tu
            bienestar físico. Queremos que disfrutes de esta experiencia y
            logrés tus objetivos de manera segura y efectiva. Sin embargo, antes
            de empezar, es importante que leas y aceptes estos términos y
            condiciones, los cuales regulan el uso de nuestra plataforma.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            1. Aceptación de los Términos y Condiciones
          </h2>
          <p>
            Al acceder y utilizar TRAININ, aceptás que has leído, entendido y
            aceptado los términos y condiciones que se detallan a continuación,
            así como nuestra política de privacidad. Estos términos pueden
            actualizarse de vez en cuando, por lo que te recomendamos que los
            revises periódicamente. De igual modo, ante cualquier modificación
            de los términos y condiciones presentes te notificaremos a través
            del correo electrónico. Si continuás usando la plataforma, se
            considera que aceptás los cambios.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">2. Requisitos de Edad</h2>
          <p>
            TRAININ está dirigido a personas mayores de 16 años. Al utilizar la
            plataforma, confirmás que tenés al menos 16 años. Si detectamos que
            un menor de 16 años está utilizando nuestros servicios, nos
            reservamos el derecho de eliminar su cuenta y todos los datos
            asociados sin previo aviso.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">3. Registro y Cuenta de Usuario</h2>
          <p>
            Para acceder a TRAININ, es necesario crear una cuenta. Asegurate de
            proporcionar información veraz y actualizada, ya que serás el único
            responsable de la confidencialidad de tu cuenta y contraseña. En
            cualquier momento podés eliminar tu cuenta, pero tené en cuenta que
            se perderá toda la información y el contenido asociado.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">4. Uso del Servicio</h2>
          <p>
            Al usar TRAININ, aceptás que sos responsable de tu bienestar físico
            durante el uso de la plataforma y que utilizás las rutinas bajo tu
            propio criterio y condición física. Aceptás que TRAININ no se
            responsabiliza por lesiones o daños derivados de los ejercicios que
            realices. Además, declarás que estás en buen estado de salud, sin
            lesiones previas ni condiciones médicas que puedan poner en riesgo
            tu bienestar al hacer ejercicio. Si tenés alguna duda sobre tu
            estado físico, te sugerimos que consultes con un profesional de la
            salud antes de comenzar cualquier actividad.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">5. Propiedad del Contenido</h2>
          <p>
            Todo el contenido de TRAININ (incluidos videos, gráficos, rutinas de
            ejercicio y software) es propiedad de TRAININ y está protegido por
            derechos de autor. Está prohibido copiar, modificar, reproducir o
            distribuir cualquier contenido sin autorización expresa.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">6. Servicios Premium y Suscripción</h2>
          <p>
            TRAININ ofrece un único plan de suscripción, que incluye acceso a
            todas las funcionalidades de la plataforma. El pago de la
            suscripción se realiza a través de Mercado Pago, y se renovará
            automáticamente al finalizar cada período, de modo mensual. Podés
            cancelar tu suscripción en cualquier momento.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">7. Salud y Seguridad</h2>
          <p>
            Los entrenamientos ofrecidos en TRAININ son para personas en
            condiciones físicas normales y sin lesiones. El uso de la plataforma
            está bajo tu propia responsabilidad. TRAININ no es responsable por
            ningún daño físico, accidente o lesión que ocurra durante el uso de
            la plataforma. Si tenés alguna preocupación sobre tu estado de
            salud, te aconsejamos que consultes con un médico antes de comenzar
            cualquier rutina.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">8. Modificaciones y Actualizaciones</h2>
          <p>
            TRAININ se reserva el derecho de modificar o interrumpir los
            servicios de la plataforma en cualquier momento, así como los
            precios y el plan de suscripción, sin previo aviso. Te notificaremos
            sobre cualquier cambio importante y, si continuás usando el
            servicio, estarás aceptando dichas modificaciones.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            9. Responsabilidad y Limitación de Responsabilidad
          </h2>
          <p>
            Al utilizar nuestros servicios, entendés y aceptás que TRAININ no
            garantiza que los servicios sean siempre libres de errores o que
            funcionen sin interrupciones. Cualquier inconveniente que surja
            durante el uso de la plataforma será bajo tu propio riesgo.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            10. Resolución de Conflictos y Ley Aplicable
          </h2>
          <p>
            Este acuerdo está regido por las leyes de la República Argentina. Si
            surge algún conflicto o disputa relacionada con el uso de TRAININ,
            ambos nos comprometemos a resolverlo mediante arbitraje, según las
            reglas establecidas por la Cámara de Comercio Internacional.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">11. Validación Profesional</h2>
          <p>
            El contenido de las rutinas de ejercicio en TRAININ ha sido diseñado
            y validado por profesionales del área del deporte y la salud.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">12. Comentarios y Sugerencias</h2>
          <p>
            Tus comentarios, sugerencias y propuestas son siempre bienvenidos.
            Si tenés alguna idea para mejorar nuestra plataforma o si querés
            compartir tu experiencia con nosotros, no dudes en ponerte en
            contacto a trainin&#64;gmail.com o también podés buscarnos en nuestras
            redes sociales a través de Instagram y YouTube. Valoramos tu opinión
            y trabajamos constantemente para mejorar tu entrenamiento TRAININ.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            13. Política de Privacidad y Protección de Datos Personales
          </h2>
          <p>
            TRAININ se compromete a proteger la privacidad de tus datos
            personales. Los datos que recojamos de tu registro y el uso de la
            plataforma serán tratados de acuerdo con nuestra Política de
            Privacidad. Te recomendamos leerla para conocer más sobre cómo
            recopilamos, utilizamos y protegemos tu información personal. La
            información que nos brindes será utilizada únicamente para los fines
            especificados en la política de privacidad. TRAININ respeta tu
            privacidad y cumple con la normativa vigente sobre protección de
            datos en Argentina.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            14. Cesión de Derechos y Prohibición de Transferencia
          </h2>
          <p>
            Los derechos y obligaciones derivados de este acuerdo no pueden ser
            cedidos o transferidos a terceros sin el consentimiento previo por
            escrito de TRAININ. Sin embargo, nos reservamos el derecho de
            transferir nuestros derechos y obligaciones a terceros, en el marco
            de una operación corporativa, como una fusión, adquisición o venta
            de activos.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            15. Suspensión y Terminación de la Cuenta
          </h2>
          <p>
            TRAININ se reserva el derecho de suspender o cancelar tu cuenta en
            caso de que incumplas estos términos y condiciones, o si se detecta
            un uso fraudulento o inapropiado de la plataforma. En caso de
            terminación de la cuenta, perderás el acceso a los contenidos y
            servicios de TRAININ, sin derecho a reembolso de suscripciones
            pagadas.
          </p>
        </div>

        <div>
          <p>
            En TRAININ, nuestro objetivo es acompañarte en tu camino hacia una
            vida más activa y saludable. Sabemos que cada paso que des es un
            paso hacia un mejor bienestar, y nos comprometemos a ofrecerte las
            herramientas adecuadas para que logres tus metas.
          </p>
        </div>

        <div>
            <h3 style="color: #13ff3a;" class="text-center py-5">¡Gracias por elegir TRAININ!</h3>
        </div>
      </article>
    </section>
  </main>
</body>