.custom-modal {
  background-color: #191919;
  color: #fff;
  border: none;
}

.modal-separator {
  height: 3px;
  background-color: #13FF3A;
  width: 100%;
}

.modal-header{
  display: flex;
  justify-content: center;
}

.custom-modal .modal-header {
  border-bottom: 3px solid #13FF3A;
}

.custom-modal .modal-title {
  color: #ffc107;
  font-weight: bold;
}

.custom-modal .modal-body,
.custom-modal .modal-footer {
  color: #fff;
}

.modal-footer {
  display: flex;
  justify-content: center;
  border-top: none;
}

.btn-continuar {
  background-color: #13FF3A;
  color: #000;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
