<div class="modal-header custom-modal">
  <h5 class="modal-title text-warning">¡CUIDADO!</h5>
</div>
<div class="modal-separator"></div>
<div class="modal-body custom-modal">
  <p>
    Obtuviste unos porcentajes bajos en tus correcciones. Podés continuar pero
    prestá mucha atención a tus movimientos para evitar lesiones y reducí el
    peso en caso de utilizar equipamiento.
  </p>
</div>
<div class="modal-footer custom-modal">
  <button type="button" class="btn btn-continuar" (click)="continuar()">
    Continuar
  </button>
</div>
