<main>
  <section class="profile-page text-center">
    <h2>Verificación de correo</h2>
    <img src="/imagenes/logo-trainin.svg" alt="Logo Trainin" />
    <div *ngIf="usuarioActivo">El usuario se encuentra activo.</div>
    <div *ngIf="!usuarioActivo">
      El usuario no se encuentra activo. <br />
      Ingrese a su correo y valide su cuenta.
    </div>

    <app-boton-trainin [ruta]="'/iniciar-sesion'" [clase]="'btn btn-trainin'">
      Ir a Iniciar Sesión
    </app-boton-trainin>
  </section>
</main>
