<main *ngIf="cargando"><app-loader></app-loader></main>
<main *ngIf="!cargando">
  <div class="glass-radio-group" [formGroup]="filtroForm">
    <input
      type="radio"
      id="filtro-todos"
      value="todos"
      formControlName="filtroSeleccionado"
    />
    <label for="filtro-todos">Todos</label>

    <input
      type="radio"
      id="filtro-obtenidos"
      value="obtenidos"
      formControlName="filtroSeleccionado"
    />
    <label for="filtro-obtenidos">Obtenidos</label>

    <input
      type="radio"
      id="filtro-faltantes"
      value="faltantes"
      formControlName="filtroSeleccionado"
    />
    <label for="filtro-faltantes">Faltantes</label>

    <div class="glass-glider"></div>
  </div>

  <div class="logros-grid">
    <div class="logro" *ngFor="let logro of logrosFiltrados">
      <img
        [class.no-obtenido]="!logro.obtenido"
        [src]="logro.imagen"
        [alt]="logro.nombre"
      />
      <div [class.no-obtenido]="!logro.obtenido" class="nombre">
        {{ logro.nombre }}
      </div>
      <div class="descripcion-tooltip">{{ logro.descripcion }}</div>
      <div
        style="color: White; font-style: italic; font-size: 15px"
        *ngIf="logro.obtenido && logro.fechaObtencion"
      >
        {{ logro.fechaObtencion | date : "dd/MM/yyyy" }}
      </div>
    </div>
  </div>
  <div
    class="mensaje-sin-logros"
    *ngIf="filtroActivo === 'obtenidos' && logrosFiltrados.length === 0"
  >
    <p>
      Aún no tenés ningún logro.
      <strong style="color: #13ff3a">Explorá cómo conseguirlos</strong>.
    </p>
    <img src="imagenes/TRAININ-ISO-FO.svg" alt="Trainin" class="logo-trainin" />
  </div>
  <div
    class="mensaje-sin-logros"
    *ngIf="filtroActivo === 'faltantes' && logrosFiltrados.length === 0"
  >
    <p>
      <strong style="color: #13ff3a">¡Felicidades!</strong> Completaste todos
      los logros.
    </p>
    <img src="imagenes/TRAININ-ISO-FO.svg" alt="Trainin" class="logo-trainin" />
  </div>
</main>
