<!-- Modal flotante con fondo oscuro -->
<div class="modal-backdrop">
  <div class="custom-modal shadow-lg">
    <h1>¡FELICIDADES!</h1>
    <h2>TU PLAN ESTÁ LISTO</h2>
    <p>
      Estamos felices de acompañarte en tu camino hacia una vida más 
      <span>activa</span> y <span>saludable</span>.
    </p>
    <h3>¡Es hora de entrenar!</h3>
    <div class="d-flex flex-wrap justify-content-center gap-3">
      <button class="btn custom-btn-fill px-4 py-2" (click)="onAceptar()">Iniciar entrenamiento</button>
    </div>
  </div>
</div>
