<!-- Modal flotante con fondo oscuro -->
<div class="modal-backdrop">
  <div class="custom-modal shadow-lg">
    <h1>¡FELICIDADES!</h1>
    <h2>TU PLAN ESTÁ LISTO</h2>
    <p>
      Estamos felices de acompañarte en tu camino hacia una vida más 
      <span>activa</span> y <span>saludable</span>.
    </p>
    <h3>¡Es hora de entrenar!</h3>
    <div class="d-flex flex-wrap justify-content-center gap-3">
      <app-boton-trainin type="button" class="btn btn-custom btn-trainin" (click)="onAceptar()">Iniciar entrenamiento</app-boton-trainin>
    </div>
  </div>
</div>
