.ejercicio-diario-container {
  padding: 20px;
  width: 100%;
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.video-section {
  padding: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-break: break-word;
}

.video-section h2,
.video-section p {
  width: 100%;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}
/*
.video-section h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.video-section p {
  font-size: 1rem;
  color: #555;
}
*/
.video-iframe {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
  
  @media (max-width: 768px) {
  .ejercicio-diario-container{
    flex-direction: column;
    gap: 30px;
  }

  .video-section {
    width: 100%;
    padding: 10px;
  }

  .camera-section {
    width: 100%;
  }

  .video-section h2 {
    font-size: 1.1rem;
    text-align: center;
  }

  .video-section p {
    font-size: 0.95rem;
    text-align: center;
  }
}
