<body>
  <app-loader *ngIf="cargando"></app-loader>
  <main *ngIf="!rutina && !cargando">
    <section>
      <article class="text-center">
        <h2 class="p-4 m-4">Ya realizaste la rutina de hoy!</h2>
        <h3>Vuelve mañana para seguir con la rutina!</h3>
      </article>
    </section>
  </main>

<main *ngIf="rutina && !cargando" class="rutina-card text-white my-4">
   
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h2 class="m-0 text-center flex-grow-1">Plan {{rutina.categoriaEjercicio}}– Día {{ rutina.numeroRutina}}</h2>
    <span style="width: 24px"></span>
  </div>

  <p class="duracion-rutina-texto">
    Duración estimada de la rutina: <strong>{{rutina.duracionEstimada}}min</strong>
  </p>

        <div class="contenedor-carrusel">
        <i class="fa-solid fa-chevron-left flecha-izquierda" (click)="anteriorEjercicio()"></i>
        <div class="cards">
          <div
            class="card"
            *ngFor="let ejercicio of ejercicios; let i = index"
            [class.centro]="i === selectedEjercicioIndex"
            [class.izquierda]="
              i ===
              (selectedEjercicioIndex - 1 + ejercicios.length) %
                ejercicios.length
            "
            [class.derecha]="
              i === (selectedEjercicioIndex + 1) % ejercicios.length
            "
            (click)="selectEjercicio(i)"
          >

            <img [src]="ejercicio.imagen" [alt]="ejercicio.nombre" />
            

            <div>
          <div *ngIf="ejercicios[selectedEjercicioIndex] as actual">
            <div class="nombre-ejercicio">{{i+1}}- {{ actual.nombre }}</div>
             <div class="grupo-muscular">
              <h4 class="titulo-grupo-muscular">Este ejercicio trabaja:</h4>
              <p *ngFor="let grupoMuscular of actual.grupoMuscular; let i = index">{{grupoMuscular.nombre}}</p>
            </div>
          </div>
        </div>
          </div>
        </div>

        <i class="fa-solid fa-chevron-right flecha-derecha" (click)="siguienteEjercicio()"></i>
      </div>

  <div class="boton-iniciar">
    <app-boton-trainin type="button" class="btn-trainin"  routerLink="/planes" >Volver al Inicio</app-boton-trainin>
    <app-boton-trainin type="button" class="btn-trainin" (clickBoton)="iniciarRutina()">Iniciar Rutina</app-boton-trainin>
  </div>
</main>
</body>
