header {
  background-color: #06131c;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  width: 90%;
  margin: auto;
}

.logo {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav a {
  text-decoration: none;
}

#aHover:hover{
  text-decoration: underline;
  text-decoration-color: #13ff3a;
  color: #FFFFFF;
  transform: scale(1.1);
}
.dropdown-toggle{
  color:white;
}
.dropdown-toggle:hover{
  color:#13ff3a;
}
.dropdown-toggle:active,
.dropdown.show > .dropdown-toggle {
  color: #13ff3a;
}

.boton-finalizar-rutina{
   color: #000;
  background-color: #13FF3A;
  font-weight: 700;
  border-radius: 50px;
  padding: 0.75rem 2rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
  border: none;
}

.boton-finalizar-rutina:hover {
  background-color: #11E835;
  transform: scale(1.05);
}

nav img:hover{
  transform: scale(1.1);
}

.usuario {
  text-decoration: none;
}

.user-icon {
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  header {
    font-size: 0.8rem;
  }

  .logo {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px 0;
  }
}