<app-header></app-header>

<body>
  <main>
    <section>
      <article class="contenedor-principal">
        <div class="text-center py-5">
          <h1 style="color: #13ff3a">Políticas de privacidad</h1>
        </div>

        <div>
          <p>
            En TRAININ, nos comprometemos a proteger tu privacidad y garantizar
            la seguridad de tus datos personales. Esta Política de Privacidad
            describe cómo recopilamos, usamos y protegemos tu información cuando
            utilizas nuestra aplicación y nuestros servicios.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            1. Información que recopilamos
          </h2>
          <p>
            Cuando utilizas TRAININ, podemos recopilar la siguiente información:
          </p>
          <ul>
            <li>
              Datos personales: Nombre completo, correo electrónico, fecha de
              nacimiento, peso y altura para personalizar tu plan de
              entrenamiento.
            </li>
            <li>
              Datos de uso: Información sobre cómo utilizas la app, como días de
              entrenamiento, ejercicios realizados, progreso y preferencias.
            </li>
          </ul>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            2. Uso de la información
          </h2>
          <p>La información recopilada se utiliza para:</p>
          <ul>
            <li>Personalizar tu experiencia de entrenamiento.</li>
            <li>Proporcionar recomendaciones adaptadas a tus objetivos.</li>
            <li>Mejorar nuestros servicios y funcionalidades.</li>
          </ul>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            3. Uso de la cámara y análisis de movimiento
          </h2>
          <p>
            Con el fin de brindarte una experiencia personalizada y ayudarte a
            mejorar tu técnica de entrenamiento, TRAININ puede solicitar acceso
            a la cámara de tu dispositivo. Las imágenes o videos capturados se
            utilizan exclusivamente para análisis en tiempo real, con el
            objetivo de brindarte correcciones técnicas dentro de la plataforma.
            TRAININ no almacena, graba ni comparte estas imágenes o videos, y el
            acceso a la cámara se realiza únicamente mientras estás utilizando
            esta función específica. En ningún caso se accederá a tu cámara sin
            tu autorización explícita. Podés revocar este permiso en cualquier
            momento desde la configuración de tu dispositivo.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            4. Protección de datos
          </h2>
          <p>
            Implementamos medidas de seguridad técnicas y organizativas para
            proteger tu información personal contra accesos no autorizados,
            alteraciones o pérdidas.
          </p>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            5. Compartir información
          </h2>
          <p>
            TRAININ no comercializa ni brinda a terceros tu información
            personal. Podemos compartir datos con terceros solo en los
            siguientes casos:
          </p>
          <ul>
            <li>Si la ley lo exige o ante requerimientos legales válidos.</li>
            <li>
              En caso de una fusión o adquisición, se te notificará antes de
              transferir tu información.
            </li>
          </ul>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">6. Tus derechos</h2>
          <p>Tenés derecho a:</p>
          <ul>
            <li>Acceder, corregir o eliminar tus datos personales.</li>
            <li>Retirar tu consentimiento en cualquier momento.</li>
          </ul>
        </div>

        <div>
          <h2 style="color: #13ff3a" class="pt-5 pb-4">
            7. Cambios a esta política
          </h2>
          <p>
            Nos reservamos el derecho de modificar esta Política en cualquier
            momento. Te notificaremos cualquier cambio significativo a través de
            correo electrónico.
          </p>
        </div>

        <div class="text-center">
            <img src="imagenes/logo-trainin.svg" alt="TRAININ" class="logo-trainin"/>
        </div>
      </article>
    </section>
  </main>
</body>

<app-footer></app-footer>