<app-header></app-header>

<body>
  <main>
    <section>
      <article class="pb-5">
        <div class="text-center pt-5 pb-4">
          <h1>Preguntas <span style="color: #13ff3a">Frecuentes</span></h1>
        </div>
        <div class="contenedor-preguntas-frecuentes m-auto">
          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(0)"
            >
              <h4>¿Qué es TRAININ?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                TRAININ es una webapp de entrenamientos personalizados adaptados
                a las necesidades del usuario con corrección en tiempo real de
                los ejercicios.
              </p>
            </div>
          </div>

          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(1)"
            >
              <h4>¿Qué tipos de entrenamiento ofrecen?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                Ofrecemos planes de entrenamiento integrales que te permiten
                trabajar todo el cuerpo, músculos del tren superior, músculos
                del tren inferior y sesiones de cardio.
              </p>
            </div>
          </div>

          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(2)"
            >
              <h4>¿Cómo se personaliza el entrenamiento TRAININ?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                TRAININ personaliza tu entrenamiento mediante un breve
                cuestionario sobre tus datos, objetivos y disponibilidad, lo que
                permite a nuestro algoritmo, validado por especialistas, generar
                rutinas diarias 100 % adaptadas a tu perfil.
              </p>
            </div>
          </div>

          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(3)"
            >
              <h4>¿Cómo funciona la corrección en vivo de los ejercicios?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                Debes de disponer de una cámara en tu dispositivo mediante la
                cual utilizaremos diversos puntos del cuerpo como referencia y
                te indicaremos en tiempo real cuáles son los aspectos a mejorar.
              </p>
            </div>
          </div>

          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(4)"
            >
              <h4>¿Qué necesito para empezar a entrenar?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                Necesitas únicamente muchas ganas, constancia y un dispositivo
                móvil o una computadora con cámara incorporada.
              </p>
            </div>
          </div>

          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(5)"
            >
              <h4>¿Necesito equipamento para realizar ejercicio?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                Podés incorporar elementos deportivos a tu entrenamiento, pero
                también podes realizar los entrenamientos sin ellos, no es
                indispensable para sumarte a entrenar con TRAININ.
              </p>
            </div>
          </div>

          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(6)"
            >
              <h4>¿Dónde y cuándo puedo realizar los entrenamientos online?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                Podés realizar los entrenamientos en cualquier lugar de tu
                preferencia y cuando vos quieras.
              </p>
            </div>
          </div>

          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(7)"
            >
              <h4>¿Cuál es la duración de los entrenamientos?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                Los entrenamientos poseen una duración estimada de entre 15 y 45
                minutos diarios en cada rutina.
              </p>
            </div>
          </div>

          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(8)"
            >
              <h4>¿Cuáles son las suscripciones que brindan?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                Podés suscribirte a TRAININ de modo gratuito o acceder a tu plan
                <span style="color: #13ff3a">premium</span> con correcciones en
                vivo y creación de planes
                <span style="color: #13ff3a">ilimitados.</span>
              </p>
            </div>
          </div>

          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(9)"
            >
              <h4>¿Cuándo puedo cambiar mi plan de entrenamiento?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                Tu plan de entrenamiento tiene la posibilidad de renovarse 15 o
                45 días o de modo mensual acorde a lo que elijas. También si
                necesitas modificarlo podés hacerlo de modo manual cuando
                quieras.
              </p>
            </div>
          </div>

          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(10)"
            >
              <h4>¿Qué métodos de pago aceptan?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                Los pagos de la suscripción
                <span style="color: #13ff3a">premium</span> se realizan a través
                de la plataforma Mercado Pago.
              </p>
            </div>
          </div>

          <div class="py-2">
            <div
              class="pregunta p-4 d-flex justify-content-between align-items-center"
              style="color: #13ff3a"
              (click)="desplegarInformacion(11)"
            >
              <h4>¿Cómo cancelo mi suscripción al plan premium?</h4>
              <span class="flecha"><i class="fa-solid fa-angle-up"></i></span>
            </div>
            <div class="informacion p-4">
              <p>
                La suscripción al plan
                <span style="color: #13ff3a">premium</span> es mensual. Podés
                cancelar en cualquier momento desde la sección Mi Perfil.
              </p>
            </div>
          </div>
        </div>
      </article>
    </section>
  </main>
</body>

<app-footer></app-footer>