.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-contenido {
  background-color: #0B1A1E;
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px #13ff3a;
}

.modal-botones {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.btn-confirmar,
.btn-cancelar {
  padding: 0.5rem 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.btn-confirmar {
  background-color: #13ff3a;
  color: black;
}

.btn-cancelar {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
