.btn-trainin {
  color: #000;
  background-color: #13ff3a;
  font-weight: 700;
  border-radius: 50px;
  padding: 0.75rem 2rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
  border: none;
}

.btn-trainin:hover {
  background-color: #11e835;
  transform: scale(1.05);
}

.btn-anterior-trainin {
  background-color: transparent;
  border: 1px solid #13ff3a;
  color: #13ff3a;
}
.btn-anterior-trainin:hover {
  color: #fff;
  transition: color 0.3s ease;
}
.btn-siguiente-trainin {
  background-color: #13ff3a;
  border: none;
  color: #000;
}
.btn-custom {
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: bold;
}
.btn-outline-light {
  background-color: #13ff3a;
  border: none;
  color: #000;
}

a.btn-trainin {
  text-decoration: none;
  display: inline-block; /* para que respete el hover y el padding */
  transition: background-color 0.2s ease, transform 0.2s ease;
}

a.btn-trainin:hover {
  background-color: #11e835;
  transform: scale(1.05);
}

.btn-practicar {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.02rem;
  cursor: pointer;
  background: transparent;
  border: 2px solid currentColor;
  padding: 1rem 1.3rem;
  font-size: 1rem;
  color: #13ff3a;
  position: relative;
  transition: color 0.3s;
  z-index: 1;
}

.btn-practicar span {
  color: #13ff3a;
}

.btn-practicar:hover {
  color: #13ff3a;
}

.btn-practicar:hover::before {
  width: 0;
}

.btn-practicar:hover::after {
  height: 0;
}

.btn-practicar:active {
  border-width: 0.25rem;
}

.btn-practicar::before,
.btn-practicar::after {
  content: "";
  position: absolute;
  background: #00060c;
  z-index: -1;
  transition: all 0.3s;
}

.btn-practicar::before {
  width: calc(100% - 3rem);
  height: calc(101% + 1rem);
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.btn-practicar::after {
  height: calc(100% - 2rem);
  width: calc(101% + 1rem);
  left: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.btn-practicar2 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.02rem;
  cursor: pointer;
  background: transparent;
  border: 2px solid currentColor;
  padding: 1rem 1.3rem;
  font-size: 1rem;
  color: #13ff3a;
  position: relative;
  transition: color 0.3s;
  z-index: 1;
}

.btn-practicar2 span {
  color: #13ff3a;
}

.btn-practicar2:hover {
  color: #13ff3a;
}

.btn-practicar2:hover::before {
  width: 0;
}

.btn-practicar2:hover::after {
  height: 0;
}

.btn-practicar2:active {
  border-width: 0.25rem;
}

.btn-practicar2::before,
.btn-practicar2::after {
  content: "";
  position: absolute;
  background: #06131c;
  z-index: -1;
  transition: all 0.3s;
}

.btn-practicar2::before {
  width: calc(100% - 3rem);
  height: calc(101% + 1rem);
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.btn-practicar2::after {
  height: calc(100% - 2rem);
  width: calc(101% + 1rem);
  left: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
