body,
html {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #00060c;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 85vh;
}



.calibracion-camara-container {
  max-width: 100%;
  min-height: 70vh;
  margin: 25px ;
  padding: 40px 45px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left,
.center,
.right {
  padding: 2rem;
}

.left {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0B1A1E;
  border-radius: 20px;
  padding: 10px;
  min-height: 60vh;
}

.right-top {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 300px;
  overflow: hidden;
}

.right-top video,
.right-top canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

.right-bottom {
  width: 100%;
  height: 10vh;
  background-color: #0B1A1E;
  border-top: #13ff3a 0.1px solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cerrar {
  position: absolute;
  top: 0px;
  right: 15px;
  background: transparent;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.cerrar:hover {
  color: #13ff3a;
}

.boton-practica {
  margin-top: 2rem;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  color: #13ff3a;
  background: transparent;
  border: 2px solid #13ff3a;
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
}

.boton-practica:hover {
  background-color: #13ff3a;
  color: black;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  align-self: center;
}

hr {
  width: 100%;
  height: 3px;
  background-color: #13ff3a;
  border: none;
  margin: 0.5rem 0 1.5rem;
  opacity: 100%;
}

p {
  margin: 0.5rem 0;
  font-size: 1rem;
  text-align: center;
}

.texto-postura {
  margin-top: 10px;
  color: #13ff3a;
  font-style: italic;
}

.botones-acciones{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
.btn-trainin{
  font-size: 0.9rem;
}
@media screen and (max-width: 1480px) {
  .btn-trainin{
  font-size: 0.7rem;
}
}

@media screen and (max-width: 1024px) {
 html,
  body {
    height: 110vh;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .calibracion-camara-container {
    flex-direction: column-reverse;
    min-height: auto;
    padding: 30px;
  }

  .left,
  .right {
    padding: 1rem;
  }

  .left {
    flex-grow: 1;
    padding-bottom: 0;
  }

  .left p {
    font-size: 0.8rem;
  }

  .left h2 {
    font-size: 1rem;
  }

  .right-top {
    height: 50vh;
    min-height: 250px;
  }

  .cerrar {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    height: 90vh;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .calibracion-camara-container {
    flex: 1;
    width: 100%;
    max-width: 95%;
    margin: 3% auto;
    padding: 0;
    flex-direction: column-reverse;
  }

  .left {
    padding: 15px 1rem 0;
  }

  .left p {
    margin: 0;
    font-size: 0.8rem;
  }

  .left h2 {
    font-size: 1rem;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    margin: 0;
    min-height: auto;
    gap: 0;
  }

  .right-top {
    flex: 1;
    width: 100%;
    min-height: 200px;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  .right-top video,
  .right-top canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
  }

  .right-bottom {
    width: 100%;
    min-height: 6vh;
    height: auto;
    padding: 5px;
    background-color: #0B1A1E;
    border-top: #13ff3a 0.1px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .texto-postura {
    margin-top: 10px;
    color: #13ff3a;
    font-style: italic;
    font-size: 0.9rem;
  }

  .boton-practica {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .cerrar {
    top: 0px;
    right: 10px;
    font-size: 1.5rem;
  }

  hr {
    display: none;
  }

    .btn-trainin{
  font-size: 0.6rem;
}
}

