<body>
    <main>
        <div class="calibracion-camara-container">
  <button class="cerrar" (click)="cerrar()">×</button>

  <div class="left">
    <h2>Calibración de Cámara</h2>
    <hr/>
    <p>Encendé la luz</p>
    <p>Limpíá el lente</p>
    <p>Todo tu cuerpo debe verse en la pantalla</p>
    <button class="boton-practica" (click)="practicarEjercicio()">Practicar Ejercicio</button>
  </div>

  <div class="right">
    <div class="right-top">
        <div class="camara">
    
        </div> 
   </div>
    <div class="right-bottom">
    <p class="texto-postura">Aquí verás las correcciones de postura</p>
    </div>
  </div>
</div>

    </main>
</body>

