<body>
  <main>
    <div class="form-container">
      <form id="formularioEntrenamiento" [formGroup]="formularioForm" (ngSubmit)="verFormulario()" method="POST">
        <!-- Paso 1 - Datos Personales -->
      <div *ngIf="currentStep === 1">
          <div class="text-center mb-2">Sección 1 de 6</div>
          <div class="progress mb-4">
            <div class="progress-bar" style="width: 16.7%"></div>
          </div>
          <h4 class="text-center mb-4">Ingresá tus datos</h4>
<div class="preguntas-container text-white">
  <div class="mensajeErrorForm">
    <div>
    <label>¿Cuánto pesas?</label>
    <span>
      <input
        type="number"
        name="peso"
        class="form-completarInfo"
        formControlName="peso"
      />kg.
    </span>
    </div>
    <div>
    @if(formularioForm.get('peso')?.hasError('required')&&formularioForm.get('peso')?.touched){
        <span>Ingresá tu <strong style="color: #13FF3A;">peso</strong> para continuar</span>
    }
    </div>
  </div>

  <div class="mensajeErrorForm">
    <div>
    <label>¿Cuánto medís?</label>
    <span>
      <input
        type="number"
        name="altura"
        class="form-completarInfo"
        formControlName="altura"
      />cm.
    </span>
    
    </div>
<div>

      @if(formularioForm.get('altura')?.hasError('required')&&formularioForm.get('altura')?.touched){
        <span>Ingresá tu <strong style="color: #13FF3A;">altura</strong> para continuar</span>
    }
    </div>
  </div>
</div>

  
          <br />
           <div class="d-flex justify-content-around" *ngIf="!editandoDesdeResumen">
    <button type="button" class="btn btn-custom btn-anterior" (click)="previousStep()">Anterior</button>
    <button type="button" class="btn btn-custom btn-siguiente"  [disabled]="!esPasoActualValido()" (click)="nextStep()">Siguiente</button>
  </div>

 <div class="text-center mt-3" *ngIf="editandoDesdeResumen">
  <button class="btn btn-custom btn-siguiente" [disabled]="!esPasoActualValido()" (click)="volverAlResumen()">Volver al resumen</button>
</div>
        </div>
        <!-- Paso 2 - Objetivos -->
        <div *ngIf="currentStep === 2">
            <div class="text-center mb-2">Sección 2 de 6</div>
            <div class="progress mb-4">
              <div class="progress-bar" style="width: 33.4%"></div>
            </div>
            <h3 class="text-white text-center mb-4">
              ¿Cuál es tu objetivo principal para entrenar?
            </h3>
            <div class="mb-4">
              <p class="text-center text-white mb-3">
                Seleccioná una única opción
              </p>

              <div *ngFor="let objetivo of opcionesObjetivo">
              <div class="d-flex justify-content-between align-items-center text-white rounded px-3 py-2 mb-2">
                <span>{{objetivo.nombre}}</span>
                <input
                  class="form-check-input"
                  type="radio"
                  name="objetivo"
                  [value]="objetivo.id"
                  formControlName="objetivo"
                />
              </div>
              </div>
            </div>
            @if(formularioForm.get('objetivo')?.hasError('required')&&formularioForm.get('objetivo')?.touched){
          <span>Selecciona un <strong>objetivo</strong> para continuar</span>
          }
            <div class="d-flex justify-content-around" *ngIf="!editandoDesdeResumen">
      <button type="button" class="btn btn-custom btn-anterior" (click)="previousStep()">Anterior</button>
      <button type="button" class="btn btn-custom btn-siguiente"  [disabled]="!esPasoActualValido()" (click)="nextStep()">Siguiente</button>
    </div>

    <div class="text-center mt-3" *ngIf="editandoDesdeResumen">
    <button class="btn btn-custom btn-siguiente" [disabled]="!esPasoActualValido()" (click)="volverAlResumen()">Volver al resumen</button>
  </div>
          </div>
        <!-- Paso 3 - Nivel del Entrenamiento -->
      <div *ngIf="currentStep === 3">
          <div class="text-center mb-2">Sección 3 de 6</div>
          <div class="progress mb-4">
            <div class="progress-bar" style="width: 50%"></div>
          </div>
          <h4 class="text-white text-center mb-2">
            ¿Con qué frecuencia realizás actividad física?
          </h4>
          <p class="text-center text-white mb-3">
            Seleccioná la opción más acorde
          </p>
          <div class="slider-scale-container">
            <div class="slider-wrapper">
              <input
                type="range"
                min="1"
                max="5"
                step="1"
                class="custom-range"
                id="rangoFrecuenciaActividad"
                formControlName="frecuenciaActividad"
              />
              <div class="scale-track">
                <div class="scale-fill" id="actividadFill"></div>
                <div class="scale-point-container" style="left: 0%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">Ninguna</div>
                </div>
                <div class="scale-point-container" style="left: 25%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">Muy poca</div>
                </div>
                <div class="scale-point-container" style="left: 50%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">Moderada</div>
                </div>
                <div class="scale-point-container" style="left: 75%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">Frecuente</div>
                </div>
                <div class="scale-point-container" style="left: 100%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">Mucha</div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <h4 class="text-white text-center mb-2">
            ¿Qué nivel de exigencia querés que tenga tu entrenamiento?
          </h4>
          <p class="text-center text-white mb-3">
            Seleccioná la opción más acorde
          </p>
          <div class="slider-scale-container mb-4">
            <div class="slider-wrapper">
              <input
                type="range"
                min="1"
                max="5"
                step="1"
                class="custom-range"
                id="rangoExigencia"
                formControlName="exigenciaActividad"
              />
              <div class="scale-track">
                <div class="scale-fill" id="exigenciaFill"></div>
                <div class="scale-point-container" style="left: 0%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">Muy baja</div>
                </div>
                <div class="scale-point-container" style="left: 25%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">Baja</div>
                </div>
                <div class="scale-point-container" style="left: 50%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">Moderada</div>
                </div>
                <div class="scale-point-container" style="left: 75%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">Alta</div>
                </div>
                <div class="scale-point-container" style="left: 100%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">Muy Alta</div>
                </div>
              </div>
            </div>
          </div>
          <br /><br>
         <div class="d-flex justify-content-around" *ngIf="!editandoDesdeResumen">
    <button type="button" class="btn btn-custom btn-anterior" (click)="previousStep()">Anterior</button>
    <button type="button" class="btn btn-custom btn-siguiente"  [disabled]="!esPasoActualValido()" (click)="nextStep()">Siguiente</button>
  </div>

 <div class="text-center mt-3" *ngIf="editandoDesdeResumen">
  <button class="btn btn-custom btn-siguiente" [disabled]="!esPasoActualValido()" (click)="volverAlResumen()">Volver al resumen</button>
</div>
        </div>
        <!-- Paso 4 - Tipo de Entrenamiento -->
<div *ngIf="currentStep === 4">
  <div class="text-center mb-2">Sección 4 de 6</div>
  <div class="progress mb-4">
    <div class="progress-bar" style="width: 66.6%"></div>
  </div>
  <h4 class="text-white text-center mb-4">
    ¿Qué tipo de entrenamiento querés realizar?
  </h4>

  <div class="cards-container">
    <label
      class="flip-card"
      *ngFor="let opcion of opcionesEntrenamiento"
      [class.selected]="opcionSeleccionada === opcion.nombre"
      (mouseenter)="hoverCard(opcion.nombre)"
      (mouseleave)="leaveCard(opcion.nombre)"
      (click)="seleccionarCard(opcion.nombre)"
    >
      <input
        type="radio"
        name="tipoEntrenamiento"
        [value]="opcion.nombre"
        hidden
        formControlName="tipoEntrenamiento"
        [checked]="opcionSeleccionada === opcion.nombre"
      />
      <div
  class="flip-card-inner"
  [style.transform]="
    hoveredCard === opcion.nombre && opcionSeleccionada !== opcion.nombre
      ? 'rotateY(180deg)'
      : 'none'
  "
>

        <div class="flip-card-front">
          <img [src]="opcion.imagen" [alt]="opcion.nombre" />
          <p>{{ opcion.nombre }}</p>
        </div>
        <div class="flip-card-back">
          <p>{{ opcion.descripcion }}</p>
        </div>
      </div>
    </label>
  </div>

  <div class="d-flex justify-content-around" *ngIf="!editandoDesdeResumen">
    <button type="button" class="btn btn-custom btn-anterior" (click)="previousStep()">Anterior</button>
    <button type="button" class="btn btn-custom btn-siguiente"  [disabled]="!esPasoActualValido()" (click)="nextStep()">Siguiente</button>
  </div>

  <div class="text-center mt-3" *ngIf="editandoDesdeResumen">
  <button class="btn btn-custom btn-siguiente" [disabled]="!esPasoActualValido()" (click)="volverAlResumen()">Volver al resumen</button>
</div>
</div>

        <!-- Paso 5 - Equipamento Disponible -->
      <!-- Paso 5 - Equipamiento -->
<div *ngIf="currentStep === 5">
  <div class="text-center mb-2">Sección 5 de 6</div>
  <div class="progress mb-4">
    <div class="progress-bar" style="width: 83.3%"></div>
  </div>

  <h3 class="text-white text-center mb-4">¿Tenés algún equipamiento en casa?</h3>
  <p class="text-center text-white mb-3">Seleccioná una o más opciones</p>

  <div class="equipamiento-grid">
    <div
      *ngFor="let item of equipamientoOpciones"
      class="equipamiento-item"
      [class.selected]="estaSeleccionado(item)"
      (click)="toggleEquipamiento(item)"
    >
      <img [src]="item.imagen" [alt]="item.nombre" />
      <span>{{ item.nombre }}</span>
    </div>
  </div>

  <!-- <input type="hidden" name="equipamientoSeleccionado" [value]="equipamientoSeleccionado.join(',')" /> -->

  <br />
  <div class="d-flex justify-content-around" *ngIf="!editandoDesdeResumen">
    <button type="button" class="btn btn-custom btn-anterior" (click)="previousStep()">Anterior</button>
    <button type="button" class="btn btn-custom btn-siguiente"  [disabled]="!esPasoActualValido()" (click)="nextStep()">Siguiente</button>
  </div>

 <div class="text-center mt-3" *ngIf="editandoDesdeResumen">
  <button class="btn btn-custom btn-siguiente" [disabled]="!esPasoActualValido()" (click)="volverAlResumen()">Volver al resumen</button>
</div>
</div>

        <!-- Paso 6 - Frecuencia del Entrenamiento -->
      <div *ngIf="currentStep === 6">
          <div class="text-center mb-2">Sección 6 de 6</div>
          <div class="progress mb-4">
            <div class="progress-bar" style="width: 100%"></div>
          </div>
          <h4 class="text-white text-center mb-2">
            ¿Cuántos días a la semana podés entrenar?
          </h4>
          <p class="text-center text-white mb-3">
            Seleccioná la cantidad de días del 1 a 5
          </p>
          <div class="slider-scale-container">
            <div class="slider-wrapper">
              <input
                type="range"
                min="1"
                max="5"
                step="1"
                class="custom-range"
                id="rangoDiasSemanales"
                formControlName="diasEntrenamiento"

              />
              <div class="scale-track">
                <div class="scale-fill" id="diasSemanalesFill"></div>
                <div class="scale-point-container" style="left: 0%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">1 día</div>
                </div>
                <div class="scale-point-container" style="left: 25%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">2 días</div>
                </div>
                <div class="scale-point-container" style="left: 50%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">3 días</div>
                </div>
                <div class="scale-point-container" style="left: 75%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">4 días</div>
                </div>
                <div class="scale-point-container" style="left: 100%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">5 días</div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <h4 class="text-white text-center mb-2">
            ¿Qué duración de entrenamiento preferís?
          </h4>
          <p class="text-center text-white mb-3">
            Seleccioná los minutos estimados a entrenar
          </p>
          <div class="slider-scale-container mb-4">
            <div class="slider-wrapper">
              <input
                type="range"
                min="1"
                max="3"
                step="1"
                class="custom-range"
                id="rangoMinutos"
               formControlName="duracionEntrenamiento"

              />
              <div class="scale-track">
                <div class="scale-fill" id="minutosFill"></div>
                <div class="scale-point-container" style="left: 0%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">10 a 15 min.</div>
                </div>
                <div class="scale-point-container" style="left: 50%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">15 a 25 min.</div>
                </div>
                <div class="scale-point-container" style="left: 100%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">25 a 40 min.</div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <h4 class="text-white text-center mb-2">
            ¿Cuál es la duración que quiere que tenga su plan?
          </h4>
          <p class="text-center text-white mb-3">
            Seleccioná la cantidad de días de duración de tu plan
          </p>
          <div class="slider-scale-container mb-4">
            <div class="slider-wrapper">
              <input
                type="range"
                min="1"
                max="3"
                step="1"
                class="custom-range"
                id="duracionPlan"
               formControlName="duracionPlanDias"
              />
              <div class="scale-track">
                <div class="scale-fill" id="duracionPlanFill"></div>
                <div class="scale-point-container" style="left: 0%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">15 días</div>
                </div>
                <div class="scale-point-container" style="left: 50%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">30 días</div>
                </div>
                <div class="scale-point-container" style="left: 100%">
                  <div class="scale-point"></div>
                  <br />
                  <div class="scale-label">45 días</div>
                </div>
              </div>
            </div>
          </div>
          <br />
           <div class="d-flex justify-content-around" *ngIf="!editandoDesdeResumen">
    <button type="button" class="btn btn-custom btn-anterior" (click)="previousStep()">Anterior</button>
    <button type="button" class="btn btn-custom btn-siguiente"  [disabled]="!esPasoActualValido()" (click)="nextStep()">Siguiente</button>
  </div>
<div class="text-center mt-3" *ngIf="editandoDesdeResumen">
  <button class="btn btn-custom btn-siguiente" [disabled]="!esPasoActualValido()" (click)="volverAlResumen()">Volver al resumen</button>
</div>
        </div>
        <!--RESUMEN FORMULARIO-->
     <div *ngIf="currentStep === 7">
  <div class="text-center mb-2">Resumen del plan</div>
  <div class="progress mb-4">
    <div class="progress-bar" style="width: 100%"></div>
  </div>

  <div class="resumen-container text-white">
    <div class="row">
      <!-- Columna izquierda -->
      <div class="columna-izquierda">
        <!-- Paso 1 -->
        <div class="mb-3 text-white">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="titulo-subrayado">Datos físicos</h5>
            <button class="btn btn-editar" (click)="irAPaso(1)">
              <i class="fas fa-edit"></i>
            </button>
          </div>
          <div class="card-body">
            <p><strong>Peso:</strong> {{ formularioForm.get('peso')?.value }} kg</p>
            <p><strong>Altura:</strong> {{ formularioForm.get('altura')?.value }} cm</p>
          </div>
        </div>

        <!-- Paso 2 -->
        <div class="text-white">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="titulo-subrayado">Objetivo</h5>
            <button class="btn btn-editar" (click)="irAPaso(2)">
              <i class="fas fa-edit"></i>
            </button>
          </div>
          <div class="card-body">
            <p><strong>Frecuencia:</strong> {{ traducirObjetivo(formularioForm.get('objetivo')?.value) }}</p>
          </div>
        </div><br>

        <!-- Paso 3 -->
        <div class="text-white">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="titulo-subrayado">Nivel de Actividad</h5>
            <button class="btn btn-editar" (click)="irAPaso(3)">
              <i class="fas fa-edit"></i>
            </button>
          </div>
          <div class="card-body">
            <p><strong>Frecuencia:</strong> {{ traducirEscalaActividad(formularioForm.get('frecuenciaActividad')?.value) }}</p>
            <p><strong>Exigencia:</strong> {{ traducirEscalaExigencia(formularioForm.get('exigenciaActividad')?.value) }}</p>
          </div>
        </div><br>

        <!-- Paso 6 (ahora aquí) -->
        <div class="text-white">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="titulo-subrayado">Frecuencia y Duración</h5>
            <button class="btn btn-editar" (click)="irAPaso(6)">
              <i class="fas fa-edit"></i>
            </button>
          </div>
          <div class="card-body">
            <p><strong>Días por semana:</strong> {{ traducirDias(formularioForm.get('diasEntrenamiento')?.value) }}</p>
            <p><strong>Minutos por día:</strong> {{ traducirMinutos(formularioForm.get('duracionEntrenamiento')?.value) }}</p>
            <p><strong>Duración del plan:</strong> {{ traducirDuracion(formularioForm.get('duracionPlanDias')?.value) }}</p>
          </div>
        </div>
      </div>

      <!-- Columna derecha -->
      <div class="columna-derecha">
        <!-- Paso 4 -->
        <div class="text-white">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="titulo-subrayado">Tipo de Entrenamiento</h5>
            <button class="btn btn-editar" (click)="irAPaso(4)">
              <i class="fas fa-edit"></i>
            </button>
          </div>
          <div class="card-body">
            <p>{{ opcionSeleccionada || 'No seleccionado' }}</p>
            <img
              *ngIf="imagenEntrenamientoSeleccionado"
              [src]="imagenEntrenamientoSeleccionado"
              [alt]="opcionSeleccionada"
              style="max-width: 100px; height: auto;"
            />
          </div>
        </div><br>

        <!-- Paso 5 -->
        <div class="text-white">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="titulo-subrayado">Equipamiento</h5>
            <button class="btn btn-editar" (click)="irAPaso(5)">
              <i class="fas fa-edit"></i>
            </button>
          </div>
          <div class="card-body">
            <p>{{ equipamientoSeleccionado.length > 0 ? equipamientoSeleccionado.join(', ') : 'No seleccionado' }}</p>
            <div class="d-flex flex-wrap gap-2 mt-2">
              <ng-container *ngFor="let item of equipamientoOpciones">
                <img
                  *ngIf="equipamientoSeleccionado.includes(item.nombre) && item.nombre !== 'Ninguno'"
                  [src]="item.imagen"
                  [alt]="item.nombre"
                  class="rounded"
                  style="max-width: 80px;"
                />
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <button class="btn btn-custom btn-siguiente" (click)="verFormulario()">Finalizar</button>
  </div>
</div>

      </form>
    </div>
  </main>
</body>
