* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #00060c;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.contenedor-principal {
  width: 80%;
  margin: auto;
}

.titulo {
  text-decoration: underline;
  text-decoration-color: #13ff3a;
  text-decoration-thickness: 2px;
}

.boton-crear-ejercicio {
  background-color: #13ff3a;
  border-radius: 5px;
  text-decoration: none;
  color: #00060c;
}

.boton-editar {
  color: #ffffff;
}

.boton-eliminar {
  color: red;
}

.contenedor-ejercicios,
.contenedor-titulos {
  margin: 0 !important;
}

@media screen and (max-width: 768px) {
  .contenedor-titulos, .contenedor-ejercicios {
    padding: 0.8rem 0 !important;
  }

  .boton-editar,
  .boton-eliminar {
    padding: 0 !important;
  }

  .contenedor-titulos div {
    font-size: 1rem !important;
  }

  .contenedor-ejercicios div {
    font-size: 0.8rem !important;
  }

  i {
    font-size: 1rem !important;
  }

  .boton-crear-ejercicio {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 540px) {
  .contenedor-titulos div {
    font-size: 0.5rem !important;
  }

  .contenedor-ejercicios div {
    font-size: 0.5rem !important;
  }

  i {
    font-size: 0.8rem !important;
  }
}
