<body>
  <main>
    <section class="contenedor-principal mb-5">
      <article>
        <div class="text-center pt-5">
          <h1 class="titulo">Panel de Administrador</h1>
        </div>

        <div class="py-4">
          <a routerLink="/crear-ejercicio" class="boton-crear-ejercicio p-2" style="color: #000000">Crear ejercicio</a>
        </div>

        <div class="row p-3 mt-3 contenedor-titulos border-bottom">
          <div class="col-2 font-weight-bold">ID</div>
          <div class="col-3 font-weight-bold">Ejercicio</div>
          <div class="col-2 font-weight-bold">Categoría</div>
          <div class="col-3 font-weight-bold">Tipo de Ejercicio</div>
          <div class="col-2 font-weight-bold">Acción</div>
        </div>

        <div *ngIf="ejercicios && ejercicios.length > 0">
          <div *ngFor="let ejercicio of ejercicios; let index = index" class="row border-bottom p-3 contenedor-ejercicios align-items-center">
            <div class="col-2">{{ ejercicio.id }}</div>
            <div class="col-3">{{ ejercicio.ejercicio }}</div>
            <div class="col-2">{{ ejercicio.categoria }}</div>
            <div class="col-3">{{ ejercicio.tipoEjercicio }}</div>
            <div class="col-2 d-flex gap-2">
              <span class="boton-editar" (click)="editarEjercicio(ejercicio.id)"><i class="fa-regular fa-pen-to-square"></i></span>
              <span class="boton-eliminar" (click)="abrirModalEliminarEjercicio()"><i class="fa-solid fa-trash"></i></span>
              <app-modal-eliminar-ejercicio (confirmarEliminar)="eliminarEjercicio(ejercicio.id)"></app-modal-eliminar-ejercicio>
            </div>
          </div>
        </div>

        <div *ngIf="!ejercicios || ejercicios.length === 0" class="row p-3">
          <div class="col">No hay ningun ejercicio creado.</div>
        </div>

      </article>
    </section>
  </main>
</body>