.contenedor-modal {
    background-color: #191919;
    color: #ffffff;
}

.contenedor-modal-header, .contenedor-modal-footer {
    border: none;
}

.boton-cerrar {
  filter: invert(1);
  font-size: 16px;
}