<app-loader *ngIf="cargando"></app-loader>
<body>
  <main class="container py-4 mt-5" *ngIf="!cargando">
    <div class="header-container">
      <a routerLink="/planes" class="flecha">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
      <h1 class="titulo">Detalle sobre tu plan de entrenamiento</h1>
    </div>
    <div class="container my-4 contenedor-semana">
      <div class="semana-header">
        <i
          class="fa-solid fa-chevron-left"
          (click)="cambiarSemana(-1)"
          [class.text-muted]="semanaActual === 0"
        >
        </i>
        <span class="fw-normal text-white semana-label">
          Semana {{ semanaSeleccionada?.numeroSemana }}
        </span>
        <i
          class="fa-solid fa-chevron-right"
          (click)="cambiarSemana(1)"
          [class.text-muted]="semanaActual === semanas.length - 1"
        >
        </i>
      </div>

      <div class="d-flex flex-wrap text-white text-center semana-dias">
        <div
          *ngFor="
            let rutina of semanaSeleccionada?.rutinas;
            let i = index;
            let last = last
          "
          class="dia-semana"
          [ngClass]="{
            activo: i === diaActivo,
            'borde-inferior-izq':
              i === 0 && semanaSeleccionada?.rutinas.length > 1,
            'borde-inferior-der':
              last && semanaSeleccionada?.rutinas.length > 1,
            'bordes-inferiores': semanaSeleccionada?.rutinas.length === 1
          }"
          (click)="seleccionarDia(i)"
        >
          Día {{ i + 1 }}
        </div>
      </div>
    </div>

    <section class="detalle-plan-section">
      <p class="duracion-rutina">
        Duración estimada de la rutina: <strong>15 min</strong>
      </p>
      <div class="text-center mt-2">
        <ng-container *ngIf="rutinaActual?.estadoRutina === 2; else iniciarBtn">
          <span class="texto-rutina-realizada"> Rutina ya realizada </span>
        </ng-container>
        <ng-template #iniciarBtn>
          <app-boton-trainin
            *ngIf="esPrimeraRutinaActivaActual()"
            (click)="redirigir()"
            clase="btn-trainin"
          >
            Iniciar Rutina
          </app-boton-trainin> </ng-template
        ><br /><br />
        <div class="ejercicios-data">
          <div
            *ngFor="let ejercicio of ejerciciosDelDia"
            class="card-ejercicio container"
          >
            <div class="card">
              <div class="face back">
                <div class="content">
                  <span class="stars"></span>
                  <p class="desc">Grupo Muscular</p>
                  <ul class="list-unstyled fst-italic">
                    <li *ngFor="let grupo of ejercicio.grupoMuscular">
                      {{ grupo.nombre }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="face front image-placeholder rounded mb-2">
                <div class="nombre-ejercicio">{{ ejercicio.nombre }}</div>
                <img
                  class="imagen-ejercicio"
                  [src]="ejercicio.imagen"
                  alt="{{ ejercicio.nombre }}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
