<body>
  <main class="contenedor-principal m-auto">
    <section>
      <article>
        <div>
          <h1 class="text-center pt-5 pb-4" style="color: #13ff3a">Nosotros</h1>
        </div>

        <div class="contenedor-imagen-texto">
          <img src="imagenes/concepto.jpg" alt="" class="imagen-fondo" />
          <div class="contenedor-texto m-auto">
            <h2 class="text-center">Concepto</h2>
            <h2 class="text-center pb-4" style="color: #13ff3a">TRAININ</h2>
            <p style="font-style: italic">
              Somos una plataforma creada en 2025 a partir de un proyecto
              académico y tenemos el propósito de facilitar el acceso al
              entrenamiento en el lugar que estés
            </p>
            <br />
            <p style="font-style: italic">
              Estamos respaldados por profesionales en educación física y
              ofrecemos planes gratuitos y accesibles
            </p>
          </div>
        </div>
      </article>

      <article class="py-4">
        <div class="contenedor-imagen-texto">
          <img src="imagenes/detras-trainin.jpg " alt="" class="imagen-fondo" />
          <div class="contenedor-texto m-auto detras-trainin">
            <h2 class="text-center">Detrás de</h2>
            <h2 class="text-center pb-4" style="color: #13ff3a">TRAININ</h2>
            <p style="font-style: italic">
              Somos un equipo de profesionales apasionados por el movimiento, la
              innovación tecnológica y tu bienestar físico
            </p>
          </div>
        </div>
      </article>
    </section>

    <section class="mt-5">
      <article>
        <div class="d-flex gap-4 m-auto contenedor-mision-vision">
          <div class="p-5 contenedor-mision">
            <div
              class="d-flex gap-3 align-items-center contenedor-titulo-mision mb-3 pb-2"
            >
              <i
                class="fa-solid fa-bullseye"
                style="font-size: 2rem; color: #13ff3a"
              ></i>
              <h3>Mision</h3>
            </div>
            <div>
              <p class="texto-chico" style="font-style: italic">
                Brindar una experiencia de entrenamiento flexible, accesible y
                personalizada, que motive a las personas a incorporar la
                actividad física a su rutina diaria desde donde estén, en el
                momento que elijan, con validación profesional
              </p>
            </div>
          </div>
          <div class="p-5 contenedor-vision">
            <div
              class="d-flex gap-3 align-items-center contenedor-titulo-vision mb-3 pb-2"
            >
              <i
                class="fa-regular fa-star"
                style="font-size: 2rem; color: #13ff3a"
              ></i>
              <h3>Vision</h3>
            </div>
            <div>
              <p class="texto-chico" style="font-style: italic">
                Ser la plataforma de entrenamiento online líder en
                Latinoamérica, que impulsa un estilo de vida activo y saludable,
                conectando a las personas con su bienestar físico mediante
                tecnología de corrección por cámara, accesible y segura
              </p>
            </div>
          </div>
        </div>
      </article>
    </section>

    <aside class="pb-5">
      <div class="text-center pt-5 contenedor-titulo-valores m-auto mb-5">
        <h2>Valores</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mb-5 px-4">
          <div class="text-center mb-3">
            <img
              src="imagenes/innovacion.jpeg"
              alt="Constancia"
              class="img-valor"
            />
          </div>
          <div class="text-center">
            <h5 style="color: #13ff3a">Innovación</h5>
            <p class="texto-chico">
              Usamos tecnología para ayudarte a entrenar mejor corrigiendo tu
              postura
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-5 px-4">
          <div class="text-center mb-3">
            <img
              src="imagenes/accesibilidad.jpeg"
              alt="Constancia"
              class="img-valor"
            />
          </div>
          <div class="text-center">
            <h5 style="color: #13ff3a">Accesibilidad</h5>
            <p class="texto-chico">
              Entrená sin barreras, desde cualquier lugar y en cualquier
              momento
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-5 px-4">
          <div class="text-center mb-3">
            <img
              src="imagenes/seguridad.jpeg"
              alt="Constancia"
              class="img-valor"
            />
          </div>
          <div class="text-center">
            <h5 style="color: #13ff3a">Seguridad</h5>
            <p class="texto-chico">
              Nuestras rutinas están validadas por profesionales y priorizan tu
              salud
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-5 px-4">
          <div class="text-center mb-3">
            <img
              src="imagenes/compromiso.jpeg"
              alt="Constancia"
              class="img-valor"
            />
          </div>
          <div class="text-center">
            <h5 style="color: #13ff3a">Compromiso</h5>
            <p class="texto-chico">
              Ponemos a tu alcance herramientas pensadas para mejorar tu calidad
              de vida y tu bienestar
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-5 px-4">
          <div class="text-center mb-3">
            <img
              src="imagenes/motivacion.jpeg"
              alt="Constancia"
              class="img-valor"
            />
          </div>
          <div class="text-center">
            <h5 style="color: #13ff3a">Motivación</h5>
            <p class="texto-chico">
              Te acompañamos con un sistema de gamificación que transforma el
              esfuerzo en logros
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-5 px-4">
          <div class="text-center mb-3">
            <img
              src="imagenes/constancia.jpeg"
              alt="Constancia"
              class="img-valor"
            />
          </div>
          <div class="text-center">
            <h5 style="color: #13ff3a">Constancia</h5>
            <p class="texto-chico">
              Promovemos el hábito sostenido de entrenar como camino hacia
              resultados duraderos y bienestar integral
            </p>
          </div>
        </div>
      </div>
    </aside>
  </main>
</body>