<body>
  <main class="rutina-card my-5" [class.expandido]="expandido">
    <div class="informacion-rutina" [class.expandido]="expandido">
      <div class="iconos-laterales" [class.expandido]="expandido">
        <i
          *ngFor="let opcion of opciones; let i = index"
          [class.seleccionada]="selectedSidebarIndex === i"
          (click)="opcionSeleccionadaSidebar(i)"
          [class]="opcion.icono + ' opcion-icono'"
        ></i>
      </div>

      <div class="contenido-derecho" *ngIf="expandido">
        <button
          *ngIf="expandido"
          class="cerrar-btn"
          (click)="opcionSeleccionadaSidebar(selectedSidebarIndex!)"
        >
          ×
        </button>
        <ng-container
          *ngIf="selectedSidebarIndex !== null"
          [ngSwitch]="opciones[selectedSidebarIndex].id"
        >
          <div *ngSwitchCase="'estadisticas'">
            <p class="estadisticas-texto">Estadísticas</p>
            <ul class="lista-estadisticas">
              <li>
                <i class="fa-solid fa-stopwatch"></i>
                <span>{{ tiempoTotal }}</span>
              </li>
              <li>
                <i class="fa-solid fa-fire-flame-curved"></i>
                <span>130 cal.</span>
              </li>
              <li>
                <i class="fa-solid fa-calendar-check"></i>
                <span>1/3 días entrenados</span>
              </li>
              <li>
                <i class="fa-solid fa-calendar-days"></i>
                <span>1/30 rutinas realizadas</span>
              </li>
              <li>
                <i class="fa-solid fa-medal"></i>
                <span>Logros</span>
              </li>
            </ul>
          </div>
          <div *ngSwitchCase="'errores'">
            <p class="correccion-errores-texto">Errores en la Corrección</p>
            <div></div>
          </div>
          <div *ngSwitchCase="'musculos'">
            <p class="musculos-trabajados-texto">Músculos Trabajados</p>
            <div
              *ngIf="
                ejercicios[selectedEjercicioIndex] as ejercicioSeleccionado
              "
            >
              <div class="carrusel-muscular">
                <button
                  class="boton-carrusel izquierdo"
                  (click)="moverCarruselMuscular(-1)"
                >
                  ‹
                </button>

                <div class="contenedor-grupos-musculares">
                  <div
                    class="grupo-muscular"
                    *ngFor="
                      let grupo of ejercicioSeleccionado.grupoMuscular;
                      let i = index
                    "
                    [class.visible]="i === indiceGrupoVisible"
                  >
                    <p>{{ejercicioSeleccionado.nombre}}</p><br>
                    <img [src]="grupo.imagen" [alt]="grupo.nombre" />
                    <p>{{ grupo.nombre }}</p>
                  </div>
                </div>

                <button
                  class="boton-carrusel derecho"
                  (click)="moverCarruselMuscular(1)"
                >
                  ›
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="boton-finalizar-mobile">
        <app-boton-trainin
          type="button"
          class="btn-trainin boton-finalizar-mobile"
          data-bs-toggle="modal"
          data-bs-target="#feedbackModal"
        >
          Finalizar Rutina
        </app-boton-trainin>
      </div>
    </div>

    <div class="contenedor-ejercicios-realizados-y-finalizar-rutina">
      <h2 class="mensaje-finalizacion">
        ¡Buen trabajo!<br class="d-none d-md-block" />
        ¡Finalizaste tu entrenamiento!
      </h2>
      <div class="contenedor-carrusel">
        <div class="cards">
          <div
            class="card"
            *ngFor="let ejercicio of ejercicios; let i = index"
            [class.centro]="i === selectedEjercicioIndex"
            [class.izquierda]="
              i ===
              (selectedEjercicioIndex - 1 + ejercicios.length) %
                ejercicios.length
            "
            [class.derecha]="
              i === (selectedEjercicioIndex + 1) % ejercicios.length
            "
            (click)="selectEjercicio(i)"
          >
            <img [src]="ejercicio.imagen" [alt]="ejercicio.nombre" />
          </div>
          
        </div>

        <div>
          <div *ngIf="ejercicios[selectedEjercicioIndex] as actual">
            <div class="nombre-ejercicio">{{selectedEjercicioIndex + 1}}- {{ actual.nombre }}</div>
          </div>
        </div>
      </div>
      <div class="boton-finalizar-pc">
        <app-boton-trainin
          type="button"
          class="btn-trainin "
          data-bs-toggle="modal"
          data-bs-target="#feedbackModal"
        >
          Finalizar Rutina
        </app-boton-trainin>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="feedbackModal"
      tabindex="-1"
      aria-labelledby="feedbackModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white rounded">
          <div class="modal-body text-center">
            <h5 class="fw-bold">Ayudanos a mejorar tu entrenamiento</h5>
            <p class="fw-bold">
              Tu feedback nos ayuda a ajustar tu plan<br />
              <em>Seleccioná la opción más acorde</em>
            </p>

            <div class="d-flex justify-content-around my-3 text-start">
              <div>
                <input
                  type="radio"
                  id="facil"
                  name="feedback"
                  [(ngModel)]="opcionSeleccionada"
                  value="muy_facil"
                  class="form-check-input me-1"
                />
                <label for="facil" class="form-label text-success"
                  >Muy fácil</label
                >
              </div>
              <div>
                <input
                  type="radio"
                  id="equilibrado"
                  name="feedback"
                  [(ngModel)]="opcionSeleccionada"
                  value="equilibrado"
                  class="form-check-input me-1"
                />
                <label for="equilibrado" class="form-label text-white"
                  >Bien equilibrado</label
                >
              </div>
              <div>
                <input
                  type="radio"
                  id="exigente"
                  name="feedback"
                  [(ngModel)]="opcionSeleccionada"
                  value="muy_exigente"
                  class="form-check-input me-1"
                />
                <label for="exigente" class="form-label text-white"
                  >Muy exigente</label
                >
              </div>
            </div>

            <button class="btn btn-success" (click)="enviarFeedback()">
              Enviar y continuar
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
