<body>
  <main class="rutina-card text-white my-5">

    <h2 class="mb-4 text-center">
      ¡Buen trabajo!<br class="d-none d-md-block"> ¡Finalizaste tu entrenamiento!
    </h2>

    <div class="d-flex flex-wrap justify-content-center gap-4">
      <div class="text-center" *ngFor="let ejercicio of ejercicios" style="width: 180px">
        <div class="image-placeholder rounded mb-2" style="height: 120px; background-color: #666">
          <img [src]="ejercicio.imagen" [alt]="ejercicio.nombre" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <h5>{{ ejercicio.nombre }}</h5>
      </div>
    </div>

    <div class="text-center mt-4">
  <p class="fw-bold">⏱ Duración total de la rutina: {{ tiempoTotal }}</p><br>
 <button type="button" class="btn fw-bold text-black px-4 py-2" style="background-color: #13ff3a;" (click)="abrirModalFeedback()">
  Finalizar rutina
</button>

</div>


    <!-- Modal -->
  <div id="feedbackModal" #feedbackModal class="modal fade" tabindex="-1">
  <div class="modal-dialog">
  <div class="modal-content custom-modal text-white">
      <h5 class="fw-bold color">Ayudanos a mejorar tu entrenamiento</h5>
      <p class="fw-bold">
        Tu feedback nos ayuda a ajustar tu plan<br />
        <em>Seleccioná la opción más acorde</em>
      </p>

      <div class="modal-opciones">
        <div>
          <input
            type="radio"
            id="facil"
            name="feedback"
            [(ngModel)]="opcionSeleccionada"
            value="muy_facil"
            class="form-check-input"
          />
          <label for="facil" class="form-label">Muy fácil</label>
        </div>
        <div>
          <input
            type="radio"
            id="equilibrado"
            name="feedback"
            [(ngModel)]="opcionSeleccionada"
            value="equilibrado"
            class="form-check-input"
          />
          <label for="equilibrado" class="form-label">Bien equilibrado</label>
        </div>
        <div>
          <input
            type="radio"
            id="exigente"
            name="feedback"
            [(ngModel)]="opcionSeleccionada"
            value="muy_exigente"
            class="form-check-input"
          />
          <label for="exigente" class="form-label">Muy exigente</label>
        </div>
      </div>
<br>
      <div >
        <button class="btn text-black fw-bold px-4 py-2" style="background-color: #13ff3a;" (click)="enviarFeedback()">Enviar y continuar</button>
      </div>
    </div>
  </div>
</div>


  </main>
</body>