<app-header></app-header>
<main class="container my-5 text-center">
  <h2 class="mb-4">
    ¡Buen trabajo Usuario,<br class="d-none d-md-block">finalizaste tu entrenamiento!
  </h2>

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-3">
  <div class="col" *ngFor="let ejercicio of ejercicios">
    <app-ejercicio-tarjeta
      [nombre]="ejercicio.nombre" 
      [imagen]="ejercicio.imagen">
    </app-ejercicio-tarjeta>
  </div>
</div>

  <div class="row justify-content-center text-center mb-4">
    <div class="col-6 col-sm-4 col-md-2 mb-3" *ngFor="let estadistica of estadisticas">
      <p class="mb-1 fw-bold">{{ estadistica.valor }}</p>
      <small>{{ estadistica.label }}</small>
    </div>
  </div>

  <button class="btn btn-success btn-lg">Finalizar rutina</button>
</main>
<app-footer></app-footer>