body {
  background-color: #00060C;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-height: 300vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#ctn-ejercicios {
  gap: 3rem;
}

.image-placeholder {
  background-color: #666;
}
.contenedor-carrusel-ejercicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-right: 175px;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 5;
}

.contenedor-carrusel-ejercicios.shifted {
  transform: translateX(100px); 
}

.rutina-card {
  height: auto;
  background-color: #00060c;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 4em;
  padding-right: 4em;
  margin: 0 auto;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contenedor-ejercicios-realizados-y-finalizar-rutina {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: width 0.3s ease;
}

.rutina-card.expandido .contenedor-ejercicios-realizados-y-finalizar-rutina {
  width: 100%;
}

.nombre-ejercicio {
  color: white;
  text-align: center;
  font-size: 25px;
}

.mensaje-finalizacion {
  text-align: center;
}

.ejercicios-realizados {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  gap: 30px;
}

.custom-modal {
  background-color: #191919;
  border-radius: 20px;
  padding: 2rem;
  max-width: 900px;
  width: 100%;
  text-align: center;
}

.custom-modal h1 {
  color: #13FF3A;
  font-weight: 700;
  font-size: 2rem;
}

.custom-modal h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.custom-modal p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.modal-opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.custom-btn-outline {
  border: 2px solid #13FF3A;
  color: #13FF3A;
  background-color: transparent;
}

.custom-btn-outline:hover {
  background-color: #13FF3A;
  color: #000;
}

.custom-btn-fill {
  background-color: #13FF3A;
  color: #000;
}

.custom-btn-fill:hover {
  background-color: #00d83a;
}

.modal-overlay {

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transform: scale(0.95);
  animation: fadeInScale 0.3s ease-out forwards;
}

.modal.show .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

  .contenedor-carrusel {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
  position: relative;
}

.cards {
  display: flex;
  justify-content: center;
  position: relative;
  height: 450px;
  margin-bottom: 30px;
  margin-top: 45px;
}

  .card {
  position: absolute;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  cursor: pointer;
  opacity: 0.4;
  z-index: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  background-color: white;
}

.card.centro {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 2;
  border: #13FF3A 2px solid;
}

.card.izquierda {
  transform: translateX(-40%) scale(0.8);
}

.card.derecha {
  transform: translateX(40%) scale(0.8);
}


.flecha-izquierda,
.flecha-derecha {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.flecha-izquierda {
  left: 125px;
}

.flecha-derecha {
  right: 125px;
}

.flecha-izquierda:hover,
.flecha-derecha:hover {
  color: #13ff3a;
  background-color: rgba(255, 255, 255, 0.1);
}


.informacion-rutina {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 10%;
  min-width: 60px;
  align-items: center;
}

.informacion-rutina.expandido {
  width: 50%;
  align-items: stretch;
  height: 30rem;
}

.informacion-rutina i {
  font-size: 40px;
}
.iconos-laterales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  border: #13FF3A 2px solid;
  gap: 1.5rem;
  position: relative;
  background-color: #06131C;
}

.iconos-laterales.expandido {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  height: 100%;
  justify-content: center;
}

.opcion-icono {
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s;
  color: white;
}

.opcion-icono.seleccionada {
  transform: scale(1.3);
  color: #13FF3A;
}

.opcion-icono.oculta {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
}

.contenido-derecho {
  padding: 1.5rem;
  width: 400px;
  color: white;
  animation: fadeIn 0.5s ease-in-out;
  border-top: 2px solid #13FF3A;
  border-right: 2px solid #13FF3A;
  border-bottom: 2px solid #13FF3A;
  position: relative;
  padding: 2rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #06131C;
  
}

.estadisticas-texto {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.musculos-trabajados-texto {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.correccion-errores-texto {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.carrusel-muscular button {
  margin-bottom: 30px;
}
.nombre-ejercicio-muscular{
  font-size: 23px;
}

.cerrar-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideDownFadeIn {
  from {
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.carrusel-muscular {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 2rem; 
}

.flecha-izquierda-muscular,
.flecha-derecha-muscular {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flecha-izquierda-muscular {
  left: 0;
}

.flecha-derecha-muscular {
  right: 0;
}

.flecha-izquierda-muscular:hover,
.flecha-derecha-muscular:hover {
  background-color: rgba(19, 255, 58, 0.2);
  color: #13FF3A;
}

.contenedor-grupos-musculares {
  width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grupo-muscular {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

.grupo-muscular.visible {
  display: flex;
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}

.nombre-musculo{
 color:white;
 border-bottom: 1px solid #13FF3A;
}

.grupo-muscular img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.boton-carrusel {
  background-color: transparent;
  border: none;
  color: #13FF3A;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 15px;
  user-select: none;
}

.boton-carrusel:focus {
  outline: none;
}

.lista-estadisticas {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.lista-estadisticas li {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: white;
}

.lista-estadisticas i {
  font-size: 1.5rem;
  margin-right: 0.75rem;
  color: #13FF3A;
}

.boton-finalizar-pc {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.boton-finalizar-mobile {
  display: none
}

@media (max-width: 1480px) {

  .carrusel-muscular{
    padding-top: 0;
  }
  .rutina-card {
    flex-direction: column;
    width: 95%;
    align-items: center;
    padding-left: 4em;
    padding-right: 4em;
  }
  .contenedor-carrusel-ejercicios{
      margin-right: 0;
  }
   .contenedor-carrusel-ejercicios.shifted {
    transform: none !important;
    margin-left: 0 !important;
  }
  .boton-finalizar-pc {
    display: none;
  }
  .musculos-trabajados-texto{
      margin-bottom: 0;
  }
  div .boton-finalizar-mobile {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .contenedor-ejercicios-realizados-y-finalizar-rutina {
    width: 100% !important;
    order: 1;
  }

  .mensaje-finalizacion {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .contenedor-carrusel {
    margin-bottom: 2rem;
  }


.informacion-rutina.expandido {
  width: 50%;
  align-items: stretch;
  height: 40rem;
}

  .informacion-rutina {
    flex-direction: column;
    width: 100%;
    order: 2;
    
  }


  .iconos-laterales.expandido {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: #13FF3A 2px solid;
    border-bottom: none;
    max-height: 100px;
    width: 100%;
    justify-content: center;
  }

  .iconos-laterales {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: auto;
    height: auto;
  }

  .iconos-laterales i {
    font-size: 30px;
  }

  .informacion-rutina.expandido {
    width: 70%;
  }

  .contenido-derecho {
    padding: 1.5rem;
    width: 100%;
    min-width: 100%;
    color: white;
    animation: slideDownFadeIn 0.5s ease-in-out;
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    border-left: #13FF3A 2px solid;
    height: 500px;
  }

  .cerrar-btn {
    display: block;
    margin: 0 auto 1rem auto;
  }

  app-boton-trainin.btn-trainin {
    display: none;
  }


  span {
    font-size: 20px;
  }

}

@media (max-width: 940px) {
  .musculos-trabajados-texto {
    font-size: 1.2rem;
  }
.nombre-ejercicio-muscular{
  font-size: 18px;
}

  .informacion-rutina.expandido {
    width: 80%;
    height: 30rem;
}
.flecha-izquierda {
  left: 55px;
}

.flecha-derecha {
  right: 55px;
}

  .grupo-muscular img {
    height: 150px;
    width: 150px;
  }

  .musculos-trabajados-texto {
    font-size: 1.2rem;
  }

  .grupo-muscular p {
    font-size: 1rem;
  }

  .correccion-errores-texto {
    font-size: 1.2rem;
  }

  .estadisticas-texto {
    text-align: center;
    font-size: 1.2rem;
  }

   .card {
  width: 60%;

}
  .cards {
  height: 400px;
}

}

@media (max-width:600px){
.flecha-izquierda {
  left: -25px;
}

.flecha-derecha {
  right: -25px;
}
  .card {
  width: 80%;
}
  .cards {
  height: 300px;
}

  .lista-estadisticas li i {
    font-size: 1rem;
  }

  .lista-estadisticas li span {
    font-size: 0.76rem;
  }
}


@media (max-width: 480px) {

.flecha-izquierda {
  left: 5px;
}

.flecha-derecha {
  right: 5px;
}
   .card {
  width: 60%;

}
   .contenido-derecho {
    height: 350px;
  }
  .mensaje-finalizacion {
    font-size: 1.2rem;
  }

  .rutina-card {
    padding-left: 1em;
    padding-right: 1em;
  }

  .informacion-rutina.expandido {
    width: 70%;
  }

  .contenedor-carrusel {
    display: flex;
    flex-direction: column;
  }

  .musculos-trabajados-texto {
    font-size: 0.9rem;
  }

  .grupo-muscular p {
    font-size: 0.8rem;
  }

  .correccion-errores-texto {
    font-size: 0.9rem;
  }

  .estadisticas-texto {
    text-align: center;
    font-size: 0.9rem;
  }

  .lista-estadisticas li i {
    font-size: 0.8rem;
  }

  .lista-estadisticas li span {
    font-size: 0.8rem;
  }

  .cards {
    display: flex;
    align-self: center;
    height: 200px;
    width: 300px;
  }

}

@media (max-width: 420px) {

 .lista-estadisticas li i {
    font-size: 1rem;
  }

  .lista-estadisticas li span {
    font-size: 0.6rem;
  }

}


.feedback-modal {
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  max-width: 480px;
  padding: 30px 20px;
}

.feedback-modal .modal-title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.feedback-modal p {
  margin-bottom: 2rem;
}

.option-btn input[type="radio"] {
  display: none;
}

.button.text-hover {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
}

.button.text-hover .actual-text {
  display: inline-block;
}

.button.text-hover .hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.5s ease;
}

.button.verde .hover-text {
  color: #13ff3a;
  border-right: 4px solid #13ff3a;
  transform: scale(1.05);
}

.button.amarillo .hover-text {
  color: #13ff3a;
  border-right: 4px solid #13ff3a;
  transform: scale(1.05);
}

.button.rojo .hover-text {
  color: #13ff3a;
  border-right: 4px solid #13ff3a;
  transform: scale(1.05);
}

.button.text-hover:hover {
  color: transparent;
}

.button.text-hover:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 5px currentColor);
}

.option-btn input[type="radio"]:checked+.button.text-hover {
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;

  color: transparent;
}

.option-btn input[type="radio"]:checked+.button.text-hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 5px currentColor);
}


.body-modal-color {
  background-color: #06131C;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  *, *::before, *::after {
    box-sizing: border-box !important;
  }
}
