main {
  background-color: #00060C;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.session-card {
  background-color: #00060C;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: white;
}

.exercise-preview {
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 50vh;
  display: flex;
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

.exercise-image img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.preview-timer small {
  font-size: 0.9rem;
  color: #f0f0f0;

}
.preview-timer .display-4 {
  font-size: 3rem;
  margin: 0;
  line-height: 1;
  font-weight: bold;
}

.preview-timer .progress {
  width: 80%;
  margin: 0 auto;
  height: 8px;
  background-color: #fff !important;
  border-radius: 4px;
  overflow: hidden;
}
.preview-timer .progress-bar {
  background-color: #13FF3A !important;
}

.preview-timer .btn-outline-success {
  border-color: #13FF3A;
  color: #13FF3A;
  border-radius: 50px;
  padding: 0.75rem 2rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.preview-timer .btn-outline-success:hover{
  background-color: #13FF3A;
  transform: scale(1.2);
  color: black;
}

.help-icon {
  bottom: 1rem;
  right: 1rem;
  font-size: 1.25rem;
  color: #13FF3A;
  cursor: pointer;
  z-index: 10;
  margin-left: 10px;
}

.help-icon:hover {
  transform: scale(1.5);
  color: #13FF3A;
}

.titulo-y-pausa {
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.titulo-ejercicio {
  font-size: 2.2rem;
  flex-shrink: 1;
  word-break: break-word;
}
.iconosPausaClose {
  position: absolute;
  top: 0.5rem;       
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  z-index: 10;
  position: static;
}

.iconosPausaClose div{
  position: relative;
  top: 1rem;
  right: 6rem;
}

.iconosPausaClose i {
  font-size: 2.5rem;
  color: #fff;
  transition: color 0.2s;
}

.iconosPausaClose i:hover {
  color: #13FF3A;
}

.col-12.col-md-3.position-relative.pt-3.pt-md-0 {
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

}

.col-12.col-md-5{
    display: flex;
    vertical-align: auto;
    justify-content: center;
    flex-direction: column;
}

.preview-timer{
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes pulse-red {
  0%   { color: #fff; }
  50%  { color: #F24130 ; }
  100% { color: #fff; }
}

.countdown-warning {
  animation: pulse-red 1s infinite;     
  text-shadow: 0 0 8px #F24130 ;
}

.practicar {
    display: flex;     
    align-items: center;      
    justify-content: center; 
}

h4{
  font-size: 35px;
  
}

.text-muted-white{
    font-size: 15px;
}
.duracion-ejercicio{
  font-size: 18px;
}

.contenedor-ejercicio {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

.ejercicio-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: fit-content;
  transition: all 0.4s ease;
}

.ejercicio-box.expandido {
  width: 1200px;
  justify-content: center;
  margin-left: 200px;
}
.ejercicio-box.expandido .imagen-con-borde {
  transform: translateX(-100px);
  transition: transform 0.4s ease;
}

.imagen-con-borde {
  display: flex;
  align-items: flex-start;
  border: 2px solid #13FF3A;
  border-radius: 0.5rem;
  padding: 10px;
  position: relative;
  transition: all 0.4s ease;
  width: auto;
  max-width: 700px;
  overflow: hidden;
  background-color: #0B1A1E;
}

.imagen-con-borde img{
  max-width: 600px;
}

.imagen-con-borde.expandida {
  width: 100%;
  max-width: 1200px;
}

.descripcion-ejercicio {
  position: relative;
  margin-left: 1rem;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-width 0.5s ease, opacity 0.5s ease;
  padding: 0;
  flex-shrink: 0;
  width: 0;
  margin-top: 2rem;
  color: #fff;
  align-self: center;
}
.descripcion-ejercicio p {
  font-style: italic;
}

.descripcion-ejercicio.visible {
  max-width: 400px;
  width: 400px;
  opacity: 1;
  padding: 1rem;
}

.descripcion-ejercicio {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;

  &.visible {
    max-height: 300px; 
    opacity: 1;
  }
}


.btn-info {
  margin: 1rem;
  font-size: 2rem;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  align-self: center;
}

.btn-info:hover {
  transform: scale(1.2);
  color: #13FF3A;
}

.btn-volver {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  z-index: 2;
}

.btn-volver:hover {
  transform: scale(1.2);
    color: #13FF3A;

}


@media (min-width: 768px) and (max-width: 1050.98px) {
   .ejercicio-box.expandido .imagen-con-borde {
    transform: none !important; 
  }
.preview-timer .btn-outline-success {
    border-color: #13FF3A;
    color: #13FF3A;
    border-radius: 50px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }

  
  .preview-timer .btn-outline-success:hover {
    background-color: #13FF3A;
    transform: scale(1.2);
    color: black;
  }

  .iconosPausaClose {
    top: 0.5rem;
    right: 0.5rem;
  }

  .ejercicio-box.expandido {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }

  .imagen-con-borde {
    flex-direction: column;
    max-width: 100%;
    height: 95%;
  }
  .imagen-con-borde.expandida {
   
    height: 100%;
  }

  .imagen-con-borde img {
    max-width: 100%;
    height: auto;
  }
  .btn-info{
    padding: 0;
    margin:0;
    margin-top: 10px;
  
    font-size: 3rem;
  }

  .descripcion-ejercicio.visible {
    max-width: 90%;
    width: 100%;
    text-align: left;
    padding: 1rem;
  }

}


@media (max-width: 767.98px) {

    .titulo-ejercicio {
    font-size: 1.5rem;
  }
    h4 {
    font-size: 1.3rem; /* antes: 2rem */
  }

  .text-muted-white {
    font-size: 15px; /* antes: 15px */
  }

  .duracion-ejercicio {
    font-size: 15px; /* antes: 18px */
  }

  .preview-timer .display-4 {
    font-size: 2.5rem; /* antes: 3rem */
  }
   .contenedor-ejercicio {
  margin-bottom: 2rem;
}
   .ejercicio-box.expandido .imagen-con-borde {
    transform: none !important; 
  }
 body{
    text-align: center;
 }
 .session-card {
    padding: 1rem;
  }
  .col-12.col-md-4,
  .col-12.col-md-5,
  .col-12.col-md-3 {
    text-align: center;
  }
  .col-12.col-md-5 {
    margin-top: 1rem;
  }
  .exercise-image img {
    max-height: 200px;
    object-fit: contain;
  }
   .contenedor-ejercicio {
    margin: 0;
    padding: 0;
  }

  .ejercicio-box {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


  .ejercicio-box.expandido {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }

  .imagen-con-borde {
    flex-direction: column;
    max-height: 90%;
    max-width: 100%;
    padding: 10px;
  }

  .imagen-con-borde.expandida {
   max-height: 100%;
   margin-bottom: 20px;
  }

  .imagen-con-borde img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .descripcion-ejercicio.visible {
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    text-align: left;
    margin-left: 0;
  }

  .btn-info {
    align-self: center;
    margin: 1rem 0;
  }

  .btn-volver {
    top: 5px;
    right: 5px;
  }
}
@media (max-width: 480px) {
  .titulo-ejercicio {
    font-size: 1.2rem;
  }

  .iconosPausaClose i {
    font-size: 1.5rem;
  }
}


