body,
html {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #00060c;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  margin: 0 !important;
  padding: 0 !important;
}

p {
  margin: unset;
}

.contenedor-plan {
  text-decoration: none;
}

.plan-card {
  background-color: #191919;
  border-radius: 10px;
  padding: 2rem 2.5rem;
  width: 100%;
  transition: transform 0.3s;
  gap: 40px;
}

.plan-card:hover {
  transform: scale(1.02);
}

.plan-card p {
  font-size: 1.5rem;
}

.icon {
  font-size: 5rem;
  color: #13ff3a;
}

.contenedor-titulo {
  width: 90%;
}

#imagen-plan {
  width: 100px;
  border-radius: 50%;
}

#ultimo-entrenamiento {
  background-color: #191919;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s;
}

#racha-semanal {
  background-color: #191919;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s;
}

.contenedor-principal-planes {
  width: 90%;
  gap: 2rem;
  margin: auto;
}

.icono-fuego {
  font-size: 3rem;
  color: #13ff3a;
}

@media screen and (max-width: 768px) {
  .contenedor-titulo {
    padding-top: 10px !important;
  }

  .contenedor-principal-planes {
    margin-top: 2rem !important;
  }

  .plan-card p {
    font-size: 0.8rem;
  }

  .icon {
    font-size: 2rem;
  }

  .plan-card {
    width: 100%;
    padding: 1rem;
    gap: 0;
  }

  .contenedor-ultimo-entrenamiento h4 {
    font-size: 1.2rem;
  }

  .contenedor-ultimo-entrenamiento h5 {
    font-size: 1rem;
  }

  .contenedor-ultimo-entrenamiento span {
    font-size: 0.8rem;
  }

  .contenedor-racha h4 {
    font-size: 1.2rem;
  }

  .contenedor-racha span {
    font-size: 0.8rem;
  }

  .icono-fuego {
    font-size: 2rem;
  }

  .contenedor-principal-planes {
    flex-direction: column;
    gap: 1rem;
  }

  #nombre-plan {
    font-size: 1rem;
  }

  #realizado {
    font-size: 1rem;
  }

  #progreso-semanal,
  #progreso-plan {
    font-size: 0.8rem;
  }

  .contendor-imagen-plan,
  .contenedor-info-plan {
    gap: 0.5rem !important;
  }
}