<body>
    <main>
        <section class="pb-5">
            <div class="m-auto contenedor-titulo pt-5">
                <h1 class="pt-4">Planes de Entrenamiento</h1>
            </div>

            <article *ngIf="planEntrenamiento && usuario?.esPremium" class="d-flex mt-5 justify-content-space-between contenedor-principal-planes">
                <div id="contenedor-planes" class="w-100">
                    <a routerLink="/plan" class="w-100 d-flex contenedor-plan text-white">
                        <div class="plan-card d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center gap-5 contendor-imagen-plan">
                                <img id="imagen-plan" [src]="'imagenes/cuerpo-completo.png'" alt="Entrenamiento de cuerpo completo" class="img-fluid"/>
                                <div>
                                    <h3 id="nombre-plan">{{ planEntrenamiento.nombrePlanEntrenamiento }}</h3>
                                    <h4 id="realizado" style="color: #13FF3A;">
                                        {{ planEntrenamiento.fueRealizado ? 'Realizado hoy' : 'Continuar entrenamiento' }}
                                    </h4>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between gap-5 contenedor-info-plan">
                                <div class="d-flex flex-column align-items-center justify-content-center gap-3">
                                    <div>
                                        <div>
                                            <span id="progreso-semanal">Progreso semanal ({{ planEntrenamiento.progresoSemanal }}/{{ planEntrenamiento.totalProgresoSemanal }})</span>
                                        </div>
                                        <div class="d-flex justify-content-center gap-2 mt-2">
                                            <div *ngFor="let activo of circulos" class="circulo" [class.activo]="activo"></div>
                                        </div>
                                    </div>
                                    <div class="progreso-plan">
                                        <span id="progreso-plan">Progreso del plan ({{ planEntrenamiento.progresoPlan }}/{{ planEntrenamiento.totalProgresoPlan }})</span>
                                        <div class="barra-progreso">
                                            <div class="relleno" [ngStyle]="{'width': porcentajeProgreso}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center justify-content-center gap-5">
                                    <i class="fa-solid fa-trash"></i>
                                    <span style="color: #13FF3A">{{planEntrenamiento.id}}/{{planEntrenamiento.totalPlanes}}</span>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a routerLink="/formulario" class="w-100 d-flex justify-content-center contenedor-plan">
                        <div class="plan-card d-flex align-items-center justify-content-between mb-3">
                            <p style="color: #FFFFFF; font-style: italic;">Crear <span style="color:#13FF3A">nuevo plan</span> para empezar a entrenar</p>
                            <div class="icon">+</div>
                        </div>
                    </a>
                </div>
                <div class="d-flex flex-column gap-4" id="contenedor-informacion-planes">
                    <div id="ultimo-entrenamiento" class="contenedor-ultimo-entrenamiento text-center">
                        <h4>Último entrenamiento realizado:</h4>
                        <h5 class="text-center" style="color: #13ff3a; font-style: italic; font-weight: 300">Cuerpo completo</h5>
                        <span>2025-01-01</span><br/>
                        <span>500 cal.</span><br/>
                        <span>60 min.</span>
                    </div>
                    <div id="racha-semanal" class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column justify-content-center contenedor-racha">
                            <h4>Racha actual:</h4>
                            <span>1 semana</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-fire icono-fuego"></i>
                        </div>
                    </div>
                </div>
            </article>
            <article *ngIf="!planEntrenamiento && !usuario?.esPremium" class="d-flex mt-5 justify-content-space-between contenedor-principal-planes">
                <div id="contenedor-planes" class="w-100">
                    <a routerLink="/formulario" class="w-100 d-flex justify-content-center contenedor-plan">
                        <div class="plan-card d-flex align-items-center justify-content-between mb-3">
                            <p style="color: #FFFFFF; font-style: italic;">Creá <span style="color:#13FF3A">tu plan</span> para empezar a entrenar</p>
                            <div class="icon">+</div>
                        </div>
                    </a>

                    <a routerLink="/premium" class="w-100 d-flex justify-content-center contenedor-plan">
                        <div class="plan-card d-flex align-items-center justify-content-between mb-3">
                            <p style="color: #FFFFFF; font-style: italic;">Únete a <span style="color:#13FF3A">premium</span> para crear múltiples planes</p>
                            <div class="icon">+</div>
                        </div>
                    </a>
                </div>
            </article>
            <article *ngIf="!planEntrenamiento && usuario?.esPremium" class="d-flex mt-5 justify-content-space-between contenedor-principal-planes">
                <div id="contenedor-planes" class="w-100">
                    <a routerLink="/formulario" class="w-100 d-flex justify-content-center contenedor-plan">
                        <div class="plan-card d-flex align-items-center justify-content-between mb-3">
                            <p style="color: #FFFFFF; font-style: italic;">Creá <span style="color:#13FF3A">tu plan</span> para empezar a entrenar</p>
                            <div class="icon">+</div>
                        </div>
                    </a>
                </div>
            </article>
            <article *ngIf="planEntrenamiento && !usuario?.esPremium" class="d-flex mt-5 justify-content-space-between contenedor-principal-planes">
                <div id="contenedor-planes" class="w-100">
                    <a routerLink="/plan" class="w-100 d-flex contenedor-plan text-white">
                        <div class="plan-card d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex contenedor-info-plan-imagen">
                            <div class="d-flex align-items-center gap-5 contendor-imagen-plan">
                                <img id="imagen-plan" [src]="'imagenes/cuerpo-completo.png'" alt="Entrenamiento de cuerpo completo" class="img-fluid"/>
                                <div>
                                    <h3 id="nombre-plan">{{ planEntrenamiento.nombrePlanEntrenamiento }}</h3>
                                    <h4 id="realizado" style="color: #13FF3A;">
                                        {{ planEntrenamiento.fueRealizado ? 'Realizado hoy' : 'Continuar entrenamiento' }}
                                    </h4>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center justify-content-center gap-3 contenedor-progresos">
                                    <div>
                                        <div>
                                            <span id="progreso-semanal">Progreso semanal ({{ planEntrenamiento.progresoSemanal }}/{{ planEntrenamiento.totalProgresoSemanal }})</span>
                                        </div>
                                        <div class="d-flex justify-content-center gap-2 mt-2">
                                            <div *ngFor="let activo of circulos" class="circulo" [class.activo]="activo"></div>
                                        </div>
                                    </div>
                                    <div class="progreso-plan">
                                        <span id="progreso-plan">Progreso del plan ({{ planEntrenamiento.progresoPlan }}/{{ planEntrenamiento.totalProgresoPlan }})</span>
                                        <div class="barra-progreso">
                                            <div class="relleno" [ngStyle]="{'width': porcentajeProgreso}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between gap-5 contenedor-info-plan">
                                
                                <div class="d-flex flex-column align-items-center justify-content-center gap-5">
                                    <i class="fa-solid fa-trash"></i>
                                    <span style="color: #13FF3A">{{planEntrenamiento.id}}/{{planEntrenamiento.totalPlanes}}</span>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a routerLink="/premium" class="w-100 d-flex justify-content-center contenedor-plan">
                        <div class="plan-card d-flex align-items-center justify-content-between mb-3">
                            <p style="color: #FFFFFF; font-style: italic;">Únete a <span style="color:#13FF3A">premium</span> para crear múltiples planes</p>
                            <div class="icon">+</div>
                        </div>
                    </a>
                </div>
                <div class="d-flex flex-column gap-4" id="contenedor-informacion-planes">
                    <div id="ultimo-entrenamiento" class="contenedor-ultimo-entrenamiento text-center">
                        <h4>Último entrenamiento realizado:</h4>
                        <h5 class="text-center" style="color: #13ff3a; font-style: italic; font-weight: 300">Cuerpo completo</h5>
                        <span>2025-01-01</span><br/>
                        <span>500 cal.</span><br/>
                        <span>60 min.</span>
                    </div>
                    <div id="racha-semanal" class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column justify-content-center contenedor-racha">
                            <h4>Racha actual:</h4>
                            <span>1 semana</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-fire icono-fuego"></i>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>