.toast-container .ngx-toastr.toast-custom {
  background-color: #00060C !important;
}

.toast-container .ngx-toastr.toast-custom.toast-error {
  color: white !important;
}

.toast-container .ngx-toastr.toast-custom.toast-success {
  color: #13ff3a !important;
}

html, body {
  height: 100%;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  app-root,
  .layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header,
  footer {
    flex: 0 0 auto;
  }

  main,
  .registration-section {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00060C;
  }

  *, *::before, *::after {
    box-sizing: content-box !important;
  }
}
