body {
  background-color: #00060C;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
}
 .loader{
  height: 90vh;
  background-color: #00060C;
 }
.section-title {
  display: table;
  margin: 0 auto 2.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  border-bottom: 4px solid #13FF3A;
  padding-bottom: 0.25rem;
}

.registration-card {
  background-color: #0B1A1E ;
  width: 75%;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  border-radius: 0.5rem;
}

.trainin-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  border-radius: 0;
  color: #FFF;
  transition: border-color 0.2s, background-color 0.2s;
  margin-left: 0;
  padding-left: 0;
}
.trainin-input::placeholder {
  color: rgba(255,255,255,0.5);
}
.trainin-input:hover {
  border-bottom-color: #13FF3A;
}
.trainin-input:focus {
  background-color: transparent;
  color: #ffffff;
  border-bottom-color: #13FF3A;
  outline: none;
  box-shadow: none;
}

.trainin-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #13FF3A;
  border-radius: 3px;
  background-color: transparent;
  position: relative;
  vertical-align: middle;
  transition: background-color 0.2s, border-color 0.2s;
}
.trainin-checkbox:checked {
  background-color: #13FF3A;
  border-color: #13FF3A;
}

.trainin-checkbox:checked::after {
  opacity: 1;
}

.registration-card .form-label,
.registration-card .form-check-label {
  color: #FFF;
}

.registration-card .trainin-link {
  color: #13FF3A;
  text-decoration: none;
}
.registration-card .trainin-link:hover {
  text-decoration: underline;
}

.campos-registro {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.trainin-checkbox {
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #13FF3A;
  border-radius: 3px;
  background-color: transparent;
  display: flex;
  
}

.trainin-checkbox::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 0.8em;
  display: none;
}
.trainin-checkbox:checked::after {
  display: block;
}

.registration-card .form-label,
.registration-card .form-check-label {
  text-align: left;
  display: block;
}
.registration-card .form-check {
  display: flex;
  align-items: left;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.botones-registro{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.trainin-input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%) !important;
}

.login-links .trainin-link {
  color: #FFF;
  transition: color 0.2s;
}
.login-links .trainin-link:hover {
  color: #13FF3A;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input-container i {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.input-container input {
  width: 100%;
  height: 3rem;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;

  background: transparent;
  color: #FFF;
  transition: height 0.2s ease, border-color 0.2s ease;
  outline: none;
}

.input-container input:focus {
  height: 3.5rem;
}

.input-container label {
  position: absolute;
  left: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.25rem;
  background: #191919;
  color: #777;
  transition: transform 0.2s ease, color 0.2s ease, font-size 0.2s ease;
  pointer-events: none;
  transform-origin: left center;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  transform: translateY(-150%) scale(0.85);
  color: #13FF3A;
  font-size: 0.85rem;
  margin: 0;
  padding: 0 0.25rem;
}

.terms-container .checkbox-wrapper {
  display: flex;
  align-items: center;
}

.terms-container i {
  top: calc(50% - 0.2rem);
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #0B1A1E  inset !important;
  -webkit-text-fill-color: #FFF !important;
  transition: background-color 5000s ease-in-out 0s;
}
@media (max-width: 767px) {
  .registration-card {
    width: 85%;
    padding: 1.5rem;
  }

.campos-registro h2{
    border-bottom: none;
    text-decoration: underline;
    text-decoration-color: #13FF3A;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
    text-align: center;
    font-size: 2.3rem;
  }

  .registration-card .mb-3 {
    margin-bottom: 1.5rem;
  }

  .registration-card .input-container {
    margin-bottom: 1rem; 
  }

  .botones-registro {
    display: flex;
    flex-direction: row;
    gap: 0.3rem; 
    width: 100%;
    justify-content: center;
  }

  .botones-registro app-boton-trainin {
    width: 100%;
  }

.campos-registro {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
  .mb-4 {
font-size: 15px;
        text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  app-root,
  .layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  header,
  footer {
    flex: 0 0 auto;
  }
  main,
  .registration-section {
    flex: 1 auto;
    flex-direction: column;
  }

}

@media (max-width: 520px) {
  .botones-registro {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.6rem;
    width: 100%;
  }

  ::ng-deep app-boton-trainin .btn-trainin {
  width: 180px !important;
  text-align: center;
}


}


