@font-face {
  font-family: 'Tondu';
  src: url('/fuentes/Tondu-Beta.ttf') format('truetype');
}

.loader-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  z-index: 10;
  pointer-events: none;
  border-radius: 20px;
}
.loader2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: "Tondu";
  color: #fff;
  font-size: 50px;
  pointer-events: none;
}

.T, .R, .A, .I, .N, .I2, .N2 {
  font-family: "Tondu";
  color: white;
  opacity: 1; /* Ya son visibles desde el principio */
  animation: pass 2s ease-in-out infinite;
  animation-fill-mode: both;
  text-shadow: 2px 2px 3px #919191;
}

/* Colores especiales para las dos últimas letras */
.I2, .N2 {
  color: #13ff3a;
  text-shadow: 2px 2px 3px hsl(130, 86%, 28%);
}

/* Animación con delay para el efecto secuencial */
.T  { animation-delay: 0.2s; }
.R  { animation-delay: 0.4s; }
.A  { animation-delay: 0.6s; }
.I  { animation-delay: 0.8s; }
.N  { animation-delay: 1.0s; }
.I2 { animation-delay: 1.2s; }
.N2 { animation-delay: 1.4s; }

/* La animación en sí */
@keyframes pass {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


.loader {
  height: 30px;
  display: inline-block;
}

.loader > div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  box-shadow: 0 0 10px #13ff3a;
  background: #13ff3a;
  float: left;
  margin: 5px;
  transform: scale(2);
}

.loader > div:nth-child(1) {
  animation: anm-BL-53-move1 2s infinite linear;
}
.loader > div:nth-child(2) {
  animation: anm-BL-53-move2 2s infinite linear;
  animation-delay: 0.2s;
}
.loader > div:nth-child(3) {
  animation: anm-BL-53-move3 2s infinite linear;
  animation-delay: 0.4s;
}
.loader > div:nth-child(4) {
  animation: anm-BL-53-move4 2s infinite linear;
  animation-delay: 0.6s;
}
.loader > div:nth-child(5) {
  animation: anm-BL-53-move5 2s infinite linear;
  animation-delay: 0.8s;
}


@keyframes anm-BL-53-move1 {
  50% {
    background: #13ff3a;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move2 {
  50% {
    background: #13ff3a;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move3 {
  50% {
    background: #13ff3a;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move4 {
  50% {
    background: #13ff3a;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move5 {
  50% {
    background: #13ff3a;
    transform: scale(1);
  }
}
  
