<footer>
  <div
    class="d-flex justify-content-between align-items-center contenedor-footer"
  >
    <div>
      <p>
        Copyright © 2025 TRAIN<span style="color: #13ff3a">IN</span>. Todos los
        derechos reservados
      </p>
    </div>
    <div class="d-flex align-items-center gap-4 redes-ayuda">
      <div class="contenedor-ayuda">
        <a routerLink="/preguntas-frecuentes" target="_blank" class="p-3"
          >Preguntas Frecuentes</a
        >
        <a routerLink="/politicas-privacidad" target="_blank" class="p-3"
          >Política de privacidad</a
        >
        <a routerLink="/terminos-condiciones" target="_blank" class="p-3"
          >Términos y condiciones</a
        >
      </div>
      <div class="mt-2">
        <a
          href="https://www.youtube.com"
          target="_blank"
          class="text-white me-3"
        >
          <i class="fab fa-youtube fa-2x"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="text-white">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>